<!--<label [ngClass]="{
  'with-icon': icon,
  'search-icon': icon=='search'
}">
  <span *ngIf="label">{{label}}</span>
  <select
    [name]="name"
    [value]="value"
    [(ngModel)]="goModel"
    (change)="onSelect($event.target.value)"
  >
    <option *ngFor="let option of options" [value]="option.value" [label]="option.label">{{option.label}}</option>
  </select>
</label>-->
<div (clickOutside)="onClickOutside()">
  <go-input
    iconRight="caret"
    [placeholder]="placeholder"
    [name]="name"
    [icon]="icon"
    [label]="label"
    [clear]="true"
    (keydown)="onKeyDown($event)"
    (goFocus)="onFocus($event)"
    (goBlur)="onBlur($event)"
    [(goModel)]="search"
    (goModelChange)="onFilter()">
  </go-input>

  <ul class="options" *ngIf="areOptionsVisible">
    <li class="option" *ngFor="let option of options | filterOptions:search"
      [class.selected]="isOptionSelected(option)"
      (click)="onSelect(option)"
      (mousedown)="onSelectingOption(true)"
      (mouseup)="onSelectingOption(false)">

      <span [innerHtml]="(option.label | highlight:search) || '(Unlabeled)'"></span>
    </li>
  </ul>
</div>
