<button class="uni-button-header__inner" [disabled]="disabled || false" [type]="type || 'button'" [class]="color ? 'uni-button-header__inner--' + color : ''" [ngClass]="{
    'uni-button-header__inner--with-icon': icon,
    'uni-button-header__inner--with-icon-right': iconRight,
    'uni-button-header__inner--only-icon': icon && (!label || !label.length)
  }">

    <uni-icon
        class="uni-button-header__icon"
        *ngIf="icon"
        [icon]="icon"
    ></uni-icon>

    {{label}}

    <uni-icon
        class="uni-button-header__icon-right"
        *ngIf="iconRight"
        [icon]="iconRight"
    ></uni-icon>

</button>
