:host {

	input {
		display: none;
	}
}

.uni-radio {

	&__inner {
		user-select: none;
		min-width: 100%;
		line-height: 1;
		position: relative;
		display: block;

		display: flex;
		align-items: center;
	}
}
