.uni-chart-legend {

    &__item {
        margin-right: $basic-padding;
    }

    &__color {
        margin-right: $basic-padding / 6;
        height: $input-height / 2;
        width: $input-height / 2;
        border-radius: $border-radius;
	}

	&__container {

		&--editable {

			.uni-chart-legend__item {
				cursor: default;

				&:hover {

					.uni-chart-legend__color {
						opacity: 0.5;
					}
				}

				&--inactive {
					opacity: 0.5;

					.uni-chart-legend__color {
						@include cross($input-height / 2);
					}
				}
			}
		}
	}
}
