<uni-datagrid-cell
    class="select-cell show-hover"
    width="0"
    *ngIf="box && datagrid.selectable"
    [highlight]="true"
>
    <uni-checkbox [model]="selected" (modelChange)="selectedChange.emit($event)"></uni-checkbox>
</uni-datagrid-cell>

<ng-content *ngIf="!deleting"></ng-content>
<uni-datagrid-cell *ngIf="deleting" class="deleting-cell">
    <span>Are you sure you want to delete this item?</span>
    <uni-button label="Delete" color="error" (click)="delete.emit()"></uni-button>
    <uni-button label="Cancel" color="default" (click)="deleting = false"></uni-button>
</uni-datagrid-cell>

<uni-datagrid-cell
    class="delete-cell show-hover"
    width="0"
    *ngIf="box && datagrid.deletable"
    [highlight]="true"
>
    <uni-button icon="delete" (click)="onDeleteAttempt()"></uni-button>
</uni-datagrid-cell>
