nts-datagrid-row {
    overflow: hidden;
    display: flex;
    align-items: stretch;

    &:hover { background-color: $color-grey-lighter; }
    &.selected { background-color: $color-primary-light; }
}
