nts-datagrid-row {
    overflow: hidden;
    display: flex;
    align-items: stretch;
    transition: 200ms ease background-color;

    &:hover {
        background-color: $alpha-black-lighter;
    }
    &.selected {
        background-color: $color-primary-light;
        &:hover {
            background-color: darken($color-primary-light, 2.5%);
        }
        .select-cell {
            color: $color-primary;
        }
    }
}
