.uni-tabs {

    &__wrapper {
        max-height: $header-md-height;
        @include border-bottom;
    }

    .uni-tabs-item {
        padding: $basic-padding/2 $basic-padding/4;
        font-size: $font-small;
        line-height: $basic-padding/3 - $border-width * 2;
        opacity: 0.5;

        &:after {
            @include pseudo;
            height: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: $color-primary;

            transform: scale(0);
			@include transition(all, 0.2s, linear);
			will-change: transform;
        }

        &:hover {
            opacity: 0.75;

            &:after {
				height: $border-width * 3;
				transform: scale(1);
            }
		}

		@include mq(sm) {
            padding: $header-md-height/2 $basic-padding;
            font-size: $font-regular;
        }

        &--selected {
            opacity: 1;

            &:after {
				height: $border-width * 3;
				transform: scale(1);
			}

			&:hover {
				opacity: 1;
			}
		}

        &--small {
            padding: $basic-padding/3 $basic-padding/2;
            line-height: $basic-padding/2 - $border-width * 2;

            &:hover {

                &:after {
					height: $border-width * 2;
					transform: scale(1);
                }
            }

            &.uni-tabs-item--selected {

                &:after {
					height: $border-width * 2;
                }
            }
        }
	}

	&--no-border {

        .uni-tabs__wrapper {
            border: 0 none;
        }
    }
}
