<go-header goBg="grey">
  <go-icon icon="square" size="large"></go-icon>
  <h2 class="header-title">Home</h2>
</go-header>
<div class="body">
  <h2>Welcome to Angular 2 Seed</h2>
  <go-separator></go-separator>

  <div>
    <h3>Buttons</h3>
    <go-separator></go-separator>
    <h5>Default buttons</h5>
    <div class="clear">
      <go-button label="Blank button"></go-button>
      <go-button label="Default button" class="btn-default"></go-button>
      <go-button label="Light button" class="btn-light"></go-button>
      <go-button label="Primary button" class="btn-primary"></go-button>
      <go-button label="Error button" class="btn-error"></go-button>
      <go-button label="Success button" class="btn-success"></go-button>
    </div>
    <h5>Just icon buttons</h5>
    <div class="clear">
      <go-button icon="page"></go-button>
      <go-button icon="cloud2" class="btn-default"></go-button>
      <go-button icon="forw" class="btn-light"></go-button>
      <go-button icon="plus" class="btn-primary"></go-button>
      <go-button icon="close" class="btn-error"></go-button>
      <go-button icon="check" class="btn-success"></go-button>
    </div>
    <h5>Icon and label buttons</h5>
    <div class="clear">
      <go-button icon="page" label="Blank button"></go-button>
      <go-button icon="cloud2" label="Default button" class="btn-default"></go-button>
      <go-button icon="forw" label="Light button" class="btn-light"></go-button>
      <go-button icon="plus" label="Primary button" class="btn-primary"></go-button>
      <go-button icon="close" label="Error button" class="btn-error"></go-button>
      <go-button icon="check" label="Success button" class="btn-success"></go-button>
    </div>
    <h5>Small buttons</h5>
    <div class="clear">
      <go-button label="Blank button" class="btn-small"></go-button>
      <go-button label="Default button" class="btn-small btn-default"></go-button>
      <go-button label="Light button" class="btn-small btn-light"></go-button>
      <go-button label="Primary button" class="btn-small btn-primary"></go-button>
      <go-button label="Error button" class="btn-small btn-error"></go-button>
      <go-button label="Success button" class="btn-small btn-success"></go-button>
    </div>
    <h5>Big buttons</h5>
    <div class="clear">
      <go-button icon="page" label="Blank button" sublabel="Sublabel" size="large"></go-button>
      <go-button icon="cloud2" label="Default button" sublabel="Sublabel" size="large" class="btn-default"></go-button>
      <go-button icon="forw" label="Light button" sublabel="Sublabel" size="large" class="btn-light"></go-button>
      <go-button icon="plus" label="Primary button" sublabel="Sublabel" size="large" class="btn-primary"></go-button>
      <go-button icon="close" label="Error button" sublabel="Sublabel" size="large" class="btn-error"></go-button>
      <go-button icon="check" label="Success button" sublabel="Sublabel" size="large" class="btn-success"></go-button>
    </div>
    <h5>Dropdown buttons</h5>
    <div class="clear">
      <go-button label="Blank button" dropdown="true">
        <div class="go-dropdown-container">
          <go-dropdown-item>Clear</go-dropdown-item>
          <go-dropdown-item icon="plus">Option</go-dropdown-item>
          <go-dropdown-item icon="close">Option</go-dropdown-item>
          <go-separator></go-separator>
          <go-dropdown-item icon="check">Option</go-dropdown-item>
        </div>
      </go-button>
      <go-button label="Default button" class="btn-default" dropdown="true">
        <div class="go-dropdown-container">
          <go-dropdown-item>Clear</go-dropdown-item>
          <go-dropdown-item icon="plus">Option</go-dropdown-item>
          <go-dropdown-item icon="close">Option</go-dropdown-item>
          <go-separator></go-separator>
          <go-dropdown-item icon="check">Option</go-dropdown-item>
        </div>
      </go-button>
      <go-button label="Light button" class="btn-light" dropdown="true">
        <div class="go-dropdown-container">
          <go-dropdown-item>Clear</go-dropdown-item>
          <go-dropdown-item icon="plus">Option</go-dropdown-item>
          <go-dropdown-item icon="close">Option</go-dropdown-item>
          <go-separator></go-separator>
          <go-dropdown-item icon="check">Option</go-dropdown-item>
        </div>
      </go-button>
      <go-button label="Primary button" class="btn-primary" dropdown="true">
        <div class="go-dropdown-container">
          <go-dropdown-item>Clear</go-dropdown-item>
          <go-dropdown-item icon="plus">Option</go-dropdown-item>
          <go-dropdown-item icon="close">Option</go-dropdown-item>
          <go-separator></go-separator>
          <go-dropdown-item icon="check">Option</go-dropdown-item>
        </div>
      </go-button>
      <go-button label="Error button" class="btn-error" dropdown="true">
        <div class="go-dropdown-container">
          <go-dropdown-item>Clear</go-dropdown-item>
          <go-dropdown-item icon="plus">Option</go-dropdown-item>
          <go-dropdown-item icon="close">Option</go-dropdown-item>
          <go-separator></go-separator>
          <go-dropdown-item icon="check">Option</go-dropdown-item>
        </div>
      </go-button>
      <go-button label="Success button" class="btn-success" dropdown="true">
        <div class="go-dropdown-container">
          <go-dropdown-item>Clear</go-dropdown-item>
          <go-dropdown-item icon="plus">Option</go-dropdown-item>
          <go-dropdown-item icon="close">Option</go-dropdown-item>
          <go-separator></go-separator>
          <go-dropdown-item icon="check">Option</go-dropdown-item>
        </div>
      </go-button>
    </div>
    <h5>Popup buttons</h5>
    <div class="clear">
      <go-button label="Blank button" popup="true" popupIcon="plus">
        <div class="go-popup-container">
          This is a custom popup content
          <br>
          Ut tempor consectetur et aute adipisicing commodo.
        </div>
      </go-button>
      <go-button label="Default button" class="btn-default" popup="true" popupIcon="plus">
        <div class="go-popup-container">
          This is a custom popup content
          <br>
          Ut tempor consectetur et aute adipisicing commodo.
        </div>
      </go-button>
      <go-button label="Light button" class="btn-light" popup="true" popupIcon="plus">
        <div class="go-popup-container">
          This is a custom popup content
          <br>
          Ut tempor consectetur et aute adipisicing commodo.
        </div>
      </go-button>
      <go-button label="Primary button" class="btn-primary" popup="true" popupIcon="plus">
        <div class="go-popup-container">
          This is a custom popup content
          <br>
          Ut tempor consectetur et aute adipisicing commodo.
        </div>
      </go-button>
      <go-button label="Error button" class="btn-error" popup="true" popupIcon="plus">
        <div class="go-popup-container">
          This is a custom popup content
          <br>
          Ut tempor consectetur et aute adipisicing commodo.
        </div>
      </go-button>
      <go-button label="Success button" class="btn-success" popup="true" popupIcon="plus">
        <div class="go-popup-container">
          This is a custom popup content
          <br>
          Ut tempor consectetur et aute adipisicing commodo.
        </div>
      </go-button>
    </div>
    <h5>Popup big buttons</h5>
    <div class="clear">
      <go-button icon="page" label="Blank button" sublabel="Sublabel" popup="true" size="large" popupIcon="plus">
        <div class="go-popup-container">
          This is a custom popup content
          <br>
          Ut tempor consectetur et aute adipisicing commodo.
        </div>
      </go-button>
      <go-button icon="cloud2" label="Default button" sublabel="Sublabel" class="btn-default" popup="true" size="large" popupIcon="plus">
        <div class="go-popup-container">
          This is a custom popup content
          <br>
          Ut tempor consectetur et aute adipisicing commodo.
        </div>
      </go-button>
      <go-button icon="forw" label="Light button" sublabel="Sublabel" class="btn-light" popup="true" size="large" popupIcon="plus">
        <div class="go-popup-container">
          This is a custom popup content
          <br>
          Ut tempor consectetur et aute adipisicing commodo.
        </div>
      </go-button>
      <go-button icon="plus" label="Primary button" sublabel="Sublabel" class="btn-primary" popup="true" size="large" popupIcon="plus">
        <div class="go-popup-container">
          This is a custom popup content
          <br>
          Ut tempor consectetur et aute adipisicing commodo.
        </div>
      </go-button>
      <go-button icon="close" label="Error button" sublabel="Sublabel" class="btn-error" popup="true" size="large" popupIcon="plus">
        <div class="go-popup-container">
          This is a custom popup content
          <br>
          Ut tempor consectetur et aute adipisicing commodo.
        </div>
      </go-button>
      <go-button icon="check" label="Success button" sublabel="Sublabel" class="btn-success" popup="true" size="large" popupIcon="plus">
        <div class="go-popup-container">
          This is a custom popup content
          <br>
          Ut tempor consectetur et aute adipisicing commodo.
        </div>
      </go-button>
    </div>
  </div>
  <div>
    <h3>Inputs</h3>
    <go-separator></go-separator>
    <h5>Single-line inputs</h5>
    <div class="flex">
      <go-input [(goModel)]="inputModel" label="Default input"></go-input>
      <go-input [(goModel)]="inputModel" label="Input with placeholder" placeholder="Input placeholder"></go-input>
      <go-input [(goModel)]="inputModel" label="Input with icon" placeholder="Input placeholder" icon="user"></go-input>
      <go-input [(goModel)]="inputModel" label="Input with hint" placeholder="Input placeholder" hint="i.e: user@domain.com"></go-input>
      <go-input [(goModel)]="inputModel" label="Input with error" placeholder="Input placeholder" error="Must be a valid email"></go-input>
      <go-input [(goModel)]="inputModel" label="Input with prefix" placeholder="Input placeholder" prefix="http://www."></go-input>
    </div>
    <div class="flex">
      <go-input [(goModel)]="inputModel" label="Input with counter" counter="true"></go-input>
      <go-input [(goModel)]="inputModel" label="Counter and max" max="10" counter="true"></go-input>
      <go-input [(goModel)]="inputModel" label="Input with right icon" placeholder="Input placeholder" iconRight="user"></go-input>
    </div>
    <h5>Multi-line inputs</h5>
    <go-input [(goModel)]="inputModel"
      placeholder="Here you can see all the available options of multiline input activated"
      label="Multiline input"
      multiline="true"
      counter="true"
      max="140"
      error="Something went wrong"
      hint="Write something above">
    </go-input>
    <h5>Datetime picker</h5>
    <go-datetime-picker minDate="2016-10-01" maxDate="2016-12-31"></go-datetime-picker>
    <h5>Select inputs</h5>
    <div class="flex">
      <go-select label="Default select"
        [(goModel)]="selectModel"
        [goOptions]="[
          {value: 1, label: 'Option 1'},
          {value: 2, label: 'Option 2'},
          {value: 3, label: 'Option 3'},
          {value: 4, label: 'Option 4'},
          {value: 5, label: 'Option 5'}
        ]">
      </go-select>
      <go-select label="Select with placeholder"
        placeholder="Select placeholder"
        [(goModel)]="selectModel"
        [goOptions]="[
          {value: 1, label: 'Option 1'},
          {value: 2, label: 'Option 2'},
          {value: 3, label: 'Option 3'},
          {value: 4, label: 'Option 4'},
          {value: 5, label: 'Option 5'}
        ]">
      </go-select>
      <go-select label="Select with icon"
        icon="user"
        [(goModel)]="selectModel"
        [goOptions]="[
          {value: 1, label: 'Option 1'},
          {value: 2, label: 'Option 2'},
          {value: 3, label: 'Option 3'},
          {value: 4, label: 'Option 4'},
          {value: 5, label: 'Option 5'}
        ]">
      </go-select>
    </div>
    <h5>Checkbox inputs</h5>
    <div class="flex">
      <go-checkbox [(goModel)]="checkboxModel"></go-checkbox>
      <go-checkbox [(goModel)]="checkboxModel" [partial]="true"></go-checkbox>
      <go-checkbox [(goModel)]="checkboxModel">Checkbox with label</go-checkbox>
      <go-checkbox [(goModel)]="checkboxModel" [partial]="true">Checkbox with partial</go-checkbox>
    </div>
  </div>
</div>
