<button
  [type]="type || 'button'"
  [name]="name"
  [class]="icon"
  (click)="onClickButton($event)"
  [ngClass]="{
    'with-icon': icon,
    'btn-large': size === 'large',
    'with-dropdown': dropdown,
    'with-popup': popup,
    'only-icon': icon && (!label || !label.length)
  }">
  <go-icon class="icon" [icon]="icon" [size]="size || 'medium'"></go-icon>
  {{label}}
  <span class="sublabel" *ngIf="size==='large' && sublabel">
    {{sublabel}}
  </span>
</button>

<!-- Hidden input to emulate file browsing -->
<input
  #inputFile
  type="file"
  *ngIf="type=='file'"
  (change)="fileChanged.emit($event.target.value)"
  [accept]="fileType || null"
  [style.visibility]="'hidden'">

<!-- Aux button to fire popup -->
<go-popup class="popup" *ngIf="popup" (click)="$event.stopPropagation()" [ngClass]="{ 'popup-large': size === 'large' }">
  <button class="only-icon with-icon" goPopupTrigger type="button">
    <go-icon class="icon" [icon]="popupIcon"></go-icon>
  </button>
  <go-popup-container >
    <ng-content select=".go-popup-container"></ng-content>
  </go-popup-container>
</go-popup>

<!-- Dropdown attached to button -->
<go-dropdown *ngIf="dropdown" (click)="$event.stopPropagation()">
  <button class="dropdown with-icon caret" goDropdownTrigger
    type="button"
    [ngClass]="{ 'dropdown-large': size === 'large' }">
    <go-icon class="icon" icon="caret"></go-icon>
  </button>
  <go-dropdown-container>
    <ng-content select=".go-dropdown-container"></ng-content>
  </go-dropdown-container>
</go-dropdown>

