<ng-container *ngIf="!customCell">
    <span class="uni-datagrid-cell__label" *ngIf="showLabels">{{label}}:</span>
    <ng-container *ngIf="value" [ngSwitch]="format">
        <ng-container *ngSwitchCase="'void'"> {{value}} </ng-container>
        <strong class="uni-datagrid-cell__value" *ngSwitchCase="'strong'">{{value}}</strong>
        <span class="uni-datagrid-cell__value" *ngSwitchCase="'span'">{{value}}</span>
        <p class="uni-datagrid-cell__value" *ngSwitchCase="'p'">{{value}}</p>
        <h1 class="uni-datagrid-cell__value" *ngSwitchCase="'h1'">{{value}}</h1>
        <h2 class="uni-datagrid-cell__value" *ngSwitchCase="'h2'">{{value}}</h2>
        <h3 class="uni-datagrid-cell__value" *ngSwitchCase="'h3'">{{value}}</h3>
        <h4 class="uni-datagrid-cell__value" *ngSwitchCase="'h4'">{{value}}</h4>
        <div class="uni-datagrid-cell__value" *ngSwitchCase="'html'" [innerHtml]="value"></div>
        <uni-face class="uni-datagrid-cell__value" *ngSwitchCase="'face'" [user]="value"></uni-face>
        <img class="uni-datagrid-cell__value" alt="Cell image" *ngSwitchCase="'image'" [src]="value">
        <uni-progress class="uni-datagrid-cell__value" *ngSwitchCase="'progress'" [value]="value" [color]="options?.color" [total]="options?.total"></uni-progress>
        <uni-badge class="uni-datagrid-cell__value" *ngSwitchCase="'badge'" [label]="value" [color]="options?.color"></uni-badge>

        <!-- You can add a new format case this way: -->
        <ng-container *ngSwitchCase="'yourCustomCase'">
            The content of your custom cell. The value of the cell is at {{value}} and the options at {{options}}
        </ng-container>
        <!---->

        <span class="uni-datagrid-cell__value" *ngSwitchDefault>
            {{value | format: format}}
        </span>
    </ng-container>
    <ng-content *ngIf="!value"></ng-content>
</ng-container>
<ng-container *ngIf="customCell">
    <ng-template [ngTemplateOutlet]="customCell" [ngTemplateOutletContext]="context"> </ng-template>
</ng-container>
