@import './../../styles/abstracts/index.scss';

:host{
  display: flex;

  ::-webkit-input-placeholder {
     color: $dark-grey;
     font-weight: 300;
  }

  :-moz-placeholder { /* Firefox 18- */
     color: $dark-grey;
     font-weight: 300;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: $dark-grey;
     font-weight: 300;
  }

  :-ms-input-placeholder {
     color: $dark-grey;
     font-weight: 300;
  }
}
.input-container{ display: flex; }
label{
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 0;
  .icon, .icon-right{
    opacity: 0.5;
    position: absolute;
    margin-top: ($input-height - $input-padding*2) / 2;
  }
  .icon{
    left: ($input-height - $input-padding*2) / 2;
  }
  .icon-right{
    right: ($input-height - $input-padding*2) / 2;
  }
}
.label, .prefix{
  font-weight: 300;
  font-size: $font-small;
  color: $dark-grey;
  margin: 0 $input-padding/4;
  display: flex;
  justify-content: space-between;
  height: $label-height;
};
.prefix{
  height: $input-height;
  padding: 0 $input-padding;
  margin:0;
  display: flex;
  align-items: center;
  background-color: $lightest-alpha;
  @include border($border-width);
  border-radius: $border-radius 0 0 $border-radius;
  border-right: 0 !important;
}


.clear-btn{
  margin-left: - $input-height;
}
.with-two-icon-right {
  .clear-btn{  margin-left: - 2 * $input-height; }
}

.hint{
  font-style: italic;
  font-size: $font-small;
  color: $regular-grey;
}
.error{
  font-style: italic;
  font-size: $font-small;
  color: $error-color;
}
input, textarea{
  width: 100%;
  height: $input-height;
  text-overflow:ellipsis;
  padding-left: $input-padding;
  padding-right: $input-padding;
  border-radius: $border-radius;
  @include border($border-width);
  &:focus{border-color: $brand-color !important}
  &.floating{@include border(0); background-color: transparent; }
}
.with-icon input{ padding-left: $input-height; }
.with-icon-right input{ padding-right: $input-height; }
.with-two-icon-right input{ padding-right: 2 * $input-height; }
.with-prefix input{ border-radius: 0 $border-radius $border-radius 0; }
textarea{
  padding: $input-padding;
  min-height: $input-height*2;
  resize: vertical;
}
:host.input-large{
  input{
    height: $input-height + $label-height;
  }
  input, textarea{
    font-size: $font-largest;
  }
}
:host.input-text-large{
  input, textarea{
    font-size: $font-large;
  }
}
:host.input-text-xlarge{
  input, textarea{
    font-size: $font-xlarge;
  }
}
:host {
   input[type=date]{
     -webkit-appearance: none;
   }
  input[type=date]::-webkit-calendar-picker-indicator{
    -webkit-appearance: none;
    display: none;
  }
  ::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
  }
  ::-webkit-clear-button{
      display: none; /* Hide the button */
      -webkit-appearance: none; /* turn off default browser styling */
  }
}

:host.input-primary{
  input{
    color: $brand-color;
    font-weight: bold;
  }
}
