@import './../../styles/abstracts/index.scss';

:host {
  flex: 1;
  display: flex;
  flex-direction: column;

  @include mq($from: sm) {
    flex-direction: row;
  }
}

:host.vertical {
  flex-direction: column;
}
