nts-progress {

  .container {
    margin: 0 0 10px 0;
    min-height: 3px;
    background-color: $color-grey-medium;

    &.only-bar {
      margin: 0;
    }
  }
  .bar {
    background-color: $color-grey;
    padding: $basic-padding / 15 $basic-padding / 15 $basic-padding / 15 $basic-padding / 6;
  }

  span {
    color: $color-grey-dark;
    font-size: $font-smallest;
  }

  &.primary { .bar { background-color: $color-primary; span { color: white; } } }
  &.error { .bar { background-color: $color-error; span { color: white; } } }
  &.warning { .bar { background-color: $color-warning; } }
  &.success { .bar { background-color: $color-success; span { color: white; } } }
}
