<div class="uni-time-picker__container" (clickOutside)="opened = (!floating ? opened : false)">
    <div class="uni-time-picker__inputs">
        <uni-input type="time" icon="clock" class="uni-time-picker__input clear-webkit-controls" [maxValue]="max" [minValue]="min" [label]="label"
            [clear]="true" [model]="model" (modelChange)="onTimeChanges($event)" (uniFocus)="onFocus($event)" (uniBlur)="onBlur($event)"
            (uniKeypress)="onKeyPress($event)">
        </uni-input>
    </div>
    <div *ngIf="opened || !floating" class="uni-time-picker__controls" [class.floating]="!!floating" [class.align-left]="side === 'left'"
        [class.align-right]="side === 'right'">
        <uni-clock [min]="min" [max]="max" [model]="model" (modelChange)="onTimeChanges($event)">
        </uni-clock>
    </div>
</div>
