
:host {
  display: inline-block;
}
.uni-time-picker {
    &__container {
        position: relative;
    }


    &__buttons {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    &__controls {
        z-index: 1;

        &.floating {
            z-index: 2;
            position: absolute;
        }
    }
}
