
:host {
  display: flex;
}

.time-container {
  flex: 1;
  position: relative;
}

.time-inputs-container {
  display: flex;
}

.time-input {
  flex: 1;
}

.time-controls-container {
  z-index: 1;

  &.floating {
    z-index: 2;
    position: absolute;
  }
}

.time-buttons-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
