.uni-image-picker {
    max-width: 100%;
    max-height: 100%;
    width: $aside-width;
	height: $aside-width / 2;

	&__placeholder {
        background-color: white;
        border: $color-grey-medium dashed $border-width;
        padding: $basic-padding / 2;
	}

	&__icon {
		opacity: 0.25;
	}

	&__label {
		font-size: $font-small;
		color: $color-grey-dark;
		text-align: center;
	}

    &__preview {
        height: 100%;
        width: 100%;
	}

    &__delete-btn {
        right: 0;
    }

    &__inner {
        background-color: $color-grey-light;
        border: transparent dashed $border-width;

        &:hover,
        &--dragging {

            .uni-image-picker__placeholder {
                border-color: $color-grey-dark;
			}

			.uni-image-picker__icon {
				opacity: 0.5;
			}
        }
	}
}
