uni-image-picker {
  max-width: 100%;
  max-height: 100%;
  width: $aside-width;
  height: $aside-width / 2;

  .img-picker {
    background-color: $color-grey-light;
    border: transparent dashed $border-width;

    &:hover, &.dragging{
      .placeholder {
        border-color: $color-grey-dark;
        .icon{ opacity: 0.5; }
      }
    }
  }
  .placeholder {
    background-color: white;
    border: $color-grey-medium dashed $border-width;
    padding: $basic-padding / 2;

    .icon{
      opacity: 0.25;
    }
    .label{
      font-size: $font-small;
      color: $color-grey-dark;
      text-align: center;
    }
  }
  .preview {
    height: 100%;
    width: 100%;
  }
  .delete {
    right: 0;
  }
}
