.travis.yml
karma.conf.js
node_modules
test
typings
app.tsconfig.json
test.tsconfig.json
tsconfig.json
typings.json
.npmignore
*.log
*.tgz
.config
!*.d.ts
**/*.ts
**/*.spec.js
**/*.spec.d.ts
.vscode
package

