.travis.yml
demo
dist/testUtils
karma.conf.js
.atomignore
node_modules
tests
typings
tsconfig.json
typings.json
*.ts
.npmignore
*.log
*.tgz
.config
!*.d.ts
**/*.spec.js
**/*.spec.d.ts
.vscode
package

