.chart-tooltip {
  position: absolute;
  pointer-events: none;
  opacity: 0;

  ul {
    list-style: none;
  }
  .tooltip-item {
    display: flex;
    align-items: center;
  }

  .tooltip-color {
    display: inline-block;
  }
}

