@import './../../styles/abstracts/index.scss';

:host {
  display: flex;
}

.datetime-container {
  flex: 1;
  position: relative;
}

.spacing { margin-right: $basic-padding / 2;}

.datetime-inputs-container {
  display: flex;
}

.datetime-input {
  flex: 1;
}

.datetime-controls-container {
  z-index: 1;
  margin-top: $basic-padding / 2;

  &.floating {
    z-index: 2;
    margin-top: 0;
    position: absolute;
    border: solid $medium-grey $border-width;
    @include border-radius($border-radius);

    &:before {
      @include pseudo;
      top: -7px;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid $medium-grey;
      border-top: 0;
    }

    &:after {
      @include pseudo;
      top: -5px;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 6px solid #fff;
      border-top: 0;
    }
  }
  &.align-right {
    right: 0;
    &:before { right: 6px; }
    &:after { right: 7px; }
  }
  &.align-left {
    left: 0;
    &:before { left: 6px; }
    &:after { left: 7px; }
  }
}

.datetime-buttons-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: $basic-padding / 2;
}
