@import './../../styles/variables.scss';
@import './../../styles/mixins.scss';

:host {
  display: flex;
}

.spacing { margin-right: $basic-padding / 2;}

.datetime-inputs-container {
  display: flex;
}

.datetime-input {
  flex: 1;
}

.datetime-controls-container {
  margin-top: $basic-padding / 2;
  z-index: 1;

  &.floating {
    position: absolute;
  }
}

.datetime-buttons-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: $basic-padding / 2;
}
