<nts-row class="header">
    <div class="header-item"
        *ngFor="let column of columns"
        [ngClass]="{
            'sortable': column.sortable === true || column.sortable === undefined && sortable === true,
            'order-asc': order.field === column.field && order.dir === false,
            'order-desc': order.field === column.field && order.dir === true
        }"
        (click)="onOrderBy(column)"
    >
        {{column.title}} <span *ngIf="column.customCell">*</span>
    </div>
</nts-row>
<nts-separator></nts-separator>
<div *ngIf="!customRow">
    <nts-row class="content-row" *ngFor="let row of data | order : orderKey; let i = index;">
        <div class="content-cell"
            *ngFor="let column of columns; let j = index;"
            (click)="cellClick.emit({i: i, j: j, row: row, column: column, cell: row[column.field]})"
        >
            <div [ngSwitch]="column.format" *ngIf="!column.customCell">
                <div *ngSwitchCase="'custom'">Custom template</div>
                <div *ngSwitchCase="'progress'" class="progress-cell">
                    <nts-progress
                        [value]="row[column.field]"
                        [color]="column.formatOptions?.color"
                        [total]="column.formatOptions?.total"
                    ></nts-progress>
                </div>
                <div *ngSwitchCase="'badge'">
                    <nts-badge [label]="row[column.field]" [color]="column.formatOptions?.color"></nts-badge>
                </div>
                <div *ngSwitchCase="'text'">{{row[column.field]}}</div>

                <div *ngSwitchDefault>{{row[column.field] | format: column.format}}</div>
            </div>
            <div *ngIf="column.customCell">
                <template [ngTemplateOutlet]="column.customCell" [ngOutletContext]="{i: i, j: j, row: row, column: column, cell: row[column.field]}"> </template>
            </div>
        </div>
    </nts-row>
</div>
<div *ngIf="customRow">
    <div class="content-row" *ngFor="let row of data | order : orderKey; let i = index;">
        <template [ngTemplateOutlet]="customRow" [ngOutletContext]="{ row: row, i: i }"> </template>
    </div>
</div>
