nts-datagrid {
    .header-item {
        font-weight: bold;
        position: relative;
        color: $alpha-black;
        min-height: $input-height;

        span {
            top: 50%;
            margin-top: - $input-height / 2;
            height: $input-height;
            position: absolute;
            line-height: $input-height;
        }

        &.sortable{
            cursor: pointer;
            user-select: none;

            &:after {
                @include pseudo();
                background-image: url('../assets/img/sort_both.png');
                background-position: center;
                background-repeat: no-repeat;
                top: 50%;
                margin-top: - $input-height / 2;
                height: $input-height;
                width: $input-height;
                right: $basic-padding / 4;
                bottom: 0;
            }
            &.order-asc {
                color: $black;
                &:after {
                    background-image: url('../assets/img/sort_asc.png');
                }
            }
            &.order-desc {
                color: $black;
                &:after {
                    background-image: url('../assets/img/sort_desc.png');
                }
            }
        }
    }
}
