
:host {
  display: inline-block;
}

.uni-date-picker{

    &__container {
        position: relative;
    }
    &__buttons {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}
