<span class="uni-slider__label" *ngIf="label" [innerHtml]="label"></span>

<div [class]="'uni-slider__inner ' + (color ? 'uni-slider__inner--' + color : '')">
    <div class="uni-slider__ticks" *ngIf="showTicks">
        <div class="uni-slider__tick" *ngFor="let tick of ticks"></div>
    </div>
    <div class="uni-slider__track"> </div>
    <div class="uni-slider__track-fill" [ngStyle]="trackStyle"> </div>
    <div class="uni-slider__thumb" [class.uni-slider__thumb--sliding]="sliding" [ngStyle]="thumbStyle"> </div>
</div>
