@font-face {
  font-family: 'uni-icon';
  src: url('uni-icon.eot?13083918');
  src: url('uni-icon.eot?13083918#iefix') format('embedded-opentype'),
       url('uni-icon.woff?13083918') format('woff'),
       url('uni-icon.ttf?13083918') format('truetype'),
       url('uni-icon.svg?13083918#uni-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
