.uni-button-group {

    &__inner {
        display: flex;

        > * {

            &:last-child .uni-button__inner {
                border-radius: 0 $border-radius $border-radius 0;
            }

            &:first-child .uni-button__inner {
                border-radius: $border-radius 0 0 $border-radius;
            }

            &:not(:last-child) .uni-button__inner {
                border-right-width: 0;
            }

            &:not(:first-child):not(:last-child) .uni-button__inner {
                border-radius: 0;
            }
        }
    }
}
