.uni-icon {

    &__inner {
        font-size: $font-xlarge;

        &.small {
            font-size: $font-large;
		}

        &.large {
            font-size: $font-xlarge;

            @include mq(sm) {
                font-size: $font-largest;
            }
        }

        &:before {
            font-family: "material-icons";
            font-size: 1em;
            margin-right: .2em;
            line-height: 1em;
            margin-left: .2em;
        }

        &.drag {
            cursor: move;
            cursor: grab;
            cursor: -moz-grab;
            cursor: -webkit-grab;
		}

        &.drag:active {
            cursor: grabbing;
            cursor: -moz-grabbing;
            cursor: -webkit-grabbing;
        }
	}

    &.paginator-icon {

        i {
            font-size: $font-small;
        }
    }
}
