uni-list {
    ul {
        margin-top: $basic-padding;
    }

    li {
        min-height: $input-height;
        padding-left: $basic-padding;

        &.sortable-ghost {
            background-color: $color-grey-light;
        }
        span {
            padding: $basic-padding / 6 0;
            margin-right: auto;

            &.selected{
                color: $color-primary;
            }
        }
    }
    .drag-handle {
        position: absolute;
        left: $basic-padding / 4;
    }
    .show-hover {
        opacity: 0.5;
        &:hover {
            opacity: 1;
        }
    }
}
