@mixin circle($width) {
    border-width: $width/10;
    border-top-width: $width/10;
    width: $width;
    height: $width;
}

@mixin dots($totalWidth) {
    $spacing: $totalWidth / 20;
    $width: ($totalWidth - 2 * $spacing) / 3;

    height: $width;
    width: $width;
    margin-right: $width * 2 + $spacing * 2;

    &:before {
        margin-left: $width + $spacing;
    }

    &:after {
        margin-left: 2 * $width + 2 * $spacing;
    }
}