.uni-chart-tooltip {

	&__inner {
		position: absolute;
		pointer-events: none;
		opacity: 0;

	}

	&__items {
		list-style: none;
	}

	&__item {
		display: flex;
		align-items: center;
	}

	&__color {
		display: inline-block;
	}
}
