<uni-input
    (uniKeypress)="uniKeypress.emit($event)"
    (modelChange)="modelChange.emit($event)" 
    (uniFocus)="uniFocus.emit($event)"
    (uniBlur)="uniBlur.emit($event)"
    [placeholder]="placeholder"
    [prefixIcon]="prefixIcon"
    [suffixIcon]="suffixIcon"
    [autofocus]="autofocus"
    [iconRight]="iconRight"
    [required]="required"
    [debounce]="debounce"
    [maxValue]="maxValue"
    [minValue]="minValue"
    [readonly]="readonly"
    [floating]="floating"
    [counter]="counter"
    [multiline]="true"
    [prefix]="prefix"
    [suffix]="suffix"
    [error]="error"
    [clear]="clear"
    [label]="label"
    [model]="model"
    [value]="value"
    [type]="type"
    [icon]="icon"
    [hint]="hint"
    [name]="name"
></uni-input>