nts-checkbox {
  height: $input-height;

  label {
    min-width: 100%;
    height: $input-height;
    line-height: 1;
    font-size: $font-regular;

    border: 0;
    padding: 0;
    padding-left: $input-height / 2 - $input-padding;
    padding-right: $input-height / 2 - $input-padding;
    border-radius: $border-radius;
    background-color: transparent;

    &.only-icon{ border-radius:$input-height/2;}

    &:not(.only-icon) {
      &:hover {background-color: $alpha-black-light}
      &:focus{background-color: $alpha-black-medium}
      &:active{background-color: $alpha-black;}
    }

    .icon{ opacity: 0.25; }
    &.checked,
    &.partial {
      .icon{ opacity: 1; }
    }

    span.label {
        margin-left: $input-height / 2 - $input-padding}
    }
}
