<label [ngClass]="{
    disabled: disabled == true,
    checked: uniModel == true,
    partial: partial == true,
    'only-icon': !label || !label.length
}">
    <uni-icon class="icon" [icon]="
        uniModel == true ? 'square-check' :
        partial == true ? 'square-minus' : 'square'"
    ></uni-icon>
    <input type="checkbox"
        [name]="name"
        [ngModel]="uniModel"
        [disabled]="disabled"
        (ngModelChange)="toggleUniModel()"
    >
    <span class="label" *ngIf="label" [innerHtml]="label"></span>
</label>
