<label [ngClass]="{
    disabled: disabled == true,
    checked: model == true,
    partial: partial == true,
    'only-icon': !label || !label.length
}">
    <uni-icon class="icon" [icon]="
        model == true ? 'check_box' :
        partial == true ? 'indeterminate_check_box' : 'check_box_outline_blank'"
    ></uni-icon>
    <input type="checkbox"
        [name]="name"
        [ngModel]="model"
        [disabled]="disabled"
        (ngModelChange)="toggleUniModel()"
    >
    <span class="label" *ngIf="label" [innerHtml]="label"></span>
</label>
