.uni-header {
	height: $header-xs-height;
    padding: 0 $basic-padding / 2;
	@include border-bottom();

    transition: all ease $slow;

	@include mq(sm) {
		height: $header-height;
        padding: 0 $basic-padding;
    }

    &--hidden {
		margin-top: -$header-xs-height;

		@include mq(sm) {
			margin-top: -$header-height;
		}
	}

    &--grey {
        background-color: $alpha-black-light;
	}

    &--error {
		border-color: $color-error-medium !important;
        color: $color-error;
        background-color: $color-error-light;
    }

    &--medium {
		height: $header-xs-height;

        @include mq(sm) {
            height: $header-md-height;
        }
	}

    &--medium &--hidden {
		margin-top: -$header-xs-height;

        @include mq(sm) {
            margin-top: -$header-md-height;
        }
	}

    &--less-padding {
        padding: 0 $basic-padding/2;
    }
}
