
.uni-header {
    @include border-bottom();
    padding: 0 $basic-padding / 2;
    transition: all ease $slow;
    height: $header-xs-height;
    &--hidden{
        margin-top:-$header-xs-height;
    }
    &--grey{
        background-color: $alpha-black-light;
    }
    &--error{
        background-color: $color-error-light;
        border-color: $color-error-medium !important;
        color: $color-error;
    }

    @include mq($from: sm) {
        padding: 0 $basic-padding;
        height: $header-height;
        &--hidden{ margin-top:-$header-height; }
    }

    &--medium{
        height: $header-xs-height;
        @include mq($from: sm) {
            height: $header-md-height;
        }
    }
    &--medium &--hidden{
        margin-top:-$header-xs-height;
        @include mq($from: sm) {
            margin-top:-$header-md-height;
        }
    }
    &--less-padding{
        padding: 0 $basic-padding/2;
    }
}



