<div class="modal-bg" [ngClass]="{
  full: modalOptions['type'] === 'full',
  aside: modalOptions['type'] === 'aside',
  large: modalOptions['size'] === 'large',
  leaving: leaving
}">
  <div class="modal-container" (clickOutside)="onClickOutside($event)" [class.leaving]="leaving">
    <nts-header *ngIf="modalOptions['hideHeader'] !== true">
      <h3>{{modalOptions['title']}}</h3>
    </nts-header>
    <nts-icon class="close-button" icon="close" (click)="onCancel()"></nts-icon>
    <div [ntsComponentLoader]="contentComponent" (ntsComponentLoaded)="componentLoaded($event)"></div>
  </div>
</div>
