<div class="modal-bg" [ngClass]="{
  full: options['type'] === 'full',
  aside: options['type'] === 'aside',
  large: options['size'] === 'large',
  leaving: leaving
}">
  <div class="modal-container" (clickOutside)="onClickOutside($event)" [class.leaving]="leaving">
    <nts-header *ngIf="options['hideHeader'] !== true">
      <h3>{{options['title']}}</h3>
    </nts-header>
    <nts-icon class="close-button" icon="close" (click)="onCancel()"></nts-icon>
    <div [ntsComponentLoader]="component" (ntsComponentLoaded)="componentLoaded($event)"></div>
  </div>
</div>
