<div [class]="'uni-modal__inner ' + (options['class'] || '')" [ngClass]="{
  'uni-modal__inner--full': options['type'] === 'full',
  'uni-modal__inner--aside': options['type'] === 'aside',
  'uni-modal__inner--large': options['size'] === 'large',
  'uni-modal__inner--only-content': options['hideHeader'] === true,
  'uni-modal__inner--leaving': leaving
}">
    <div class="uni-modal__container" (clickOutside)="onClickOutside($event)" [class.uni-modal__container--leaving]="leaving">
        <uni-header *ngIf="options['hideHeader'] !== true">
            <p class="uni-modal__title">{{options['title']}}</p>
        </uni-header>
        <uni-icon class="uni-modal__btn-close" icon="close" (click)="onCancel()"></uni-icon>
        <div [uniComponentLoader]="component" (uniComponentLoaded)="onComponentLoaded($event)"></div>
    </div>
</div>
