<p class="title2 chart-title" *ngIf="chartTitle">{{chartTitle}}</p>

<div class="chart-container">
  <canvas baseChart
    class="chart"
    [ngClass]="{
      'chart-tiny': size === 'tiny',
      'chart-small': size === 'small',
      'chart-medium': size === 'medium',
      'chart-large': size === 'large'
    }"
    [datasets]="series"
    [labels]="labels"
    [options]="options"
    [chartType]="type"
    [colors]="colors"
    [legend]="true"
    (chartHover)="chartHover.emit($event)"
    (chartClick)="chartClick.emit($event)">
  </canvas>
  <nts-chart-tooltip [tooltip]="tooltip"> </nts-chart-tooltip>

</div>
