.uni-chart-tooltip {

    &__inner {
        padding: $basic-padding / 2;
        @include border;
        color: $black;
        background: white;
        @include border-radius;
        @include transition;

    }

	&__title {
		margin-bottom: $basic-padding / 3;
	}

	&__color {
		height: $input-height / 2;
		width: $input-height / 2;
		margin-right: $basic-padding / 6;
		border-radius: $border-radius;
	}
}
