$brand-color: #48b0f7;
$brand-color-medium: lighten($brand-color, 20%);
$brand-color-light: lighten($brand-color, 30%);
$brand-color-dark: darken($brand-color, 20%);

$error-color: #f55753;
$error-color-medium: lighten($error-color, 20%);
$error-color-light: lighten($error-color, 30%);

$warning-color: #f8d053;
$warning-color-medium: lighten($warning-color, 10%);
$warning-color-light: lighten($warning-color, 27.5%);

$success-color: #10cfbd;
$success-color-medium: lighten($success-color, 40%);
$success-color-light: lighten($success-color, 60%);

$light-grey: #f5f5f5;
$medium-grey: #e6e6e6;
$regular-grey: #919191;
$dark-grey: #626262;
$darker-grey: #2c2c2c;
$black: #333;

$lightest-alpha: rgba(0,0,0,0.07);
$light-alpha: rgba(0,0,0,0.1);
$medium-alpha: rgba(0,0,0,0.25);
$dark-alpha: rgba(0,0,0,0.5);

$lightest-alpha-white: rgba(255, 255, 255, 0.9);
$light-alpha-white: rgba(255, 255, 255, 0.75);
$medium-alpha-white: rgba(255, 255, 255, 0.3);
$dark-alpha-white: rgba(255, 255, 255, 0.1);
$light-alpha-black: rgba(0, 0, 0, 0.3);

$modal-bg-full: $lightest-alpha-white;
$modal-bg: $light-alpha-black;
$modal-bg-light: $medium-alpha-white;

$border-width: 1px;
$border-radius: 3px;

$font-giant: 72px;
$font-largest: 24px;
$font-xlarge: 18px;
$font-large: 16px;
$font-regular: 14px;
$font-small: 12px;
$font-smallest: 10px;

$basic-padding: 30px;

$header-height: 60px;
$header-md-height: 50px;
$header-xs-height: 40px;

$aside-width: 300px;
$calendar-size: 251px;

$input-xs-height: 28px;
$input-height: 35px;
$label-height: 20px;
$input-padding: 10px;

$slow: 500ms;
$fast: 200ms;



/// Breakpoints
/// @type Length
$screen-xs-min: 480px !default;
$screen-sm-min: 768px !default;
$screen-md-min: 992px !default;
$screen-lg-min: 1200px !default;
$screen-xlg-min: 1366px !default;
$screen-xxlg-min: 1680px !default;
$screen-xxxlg-min: 1920px !default;

$screen-xxs-max: ($screen-xs-min - 1) !default;
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;
$screen-lg-max: ($screen-xlg-min - 1) !default;
$screen-xlg-max: ($screen-xxlg-min - 1) !default;
$screen-xxlg-max: ($screen-xxxlg-min - 1) !default;
/// Breakpoints map for Sass-mq
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
/// @see {mixin} mq
$mq-breakpoints: (
    xxs: 1px,
    iphone6: 375px,
    iphone6p: 414px,
    xs: $screen-xs-min,
    sm: $screen-sm-min,
    md: $screen-md-min,
    mdplus: 1024px,
    lg: $screen-lg-min,
    lgplus: 1280px,
    xlg: $screen-xlg-min,
    xxlg: $screen-xxlg-min,
    xxxlg: $screen-xxxlg-min
) !default;

$mq-show-breakpoints: (xxs, iphone6, iphone6p, xs, sm, md, mdplus, lg, lgplus, xlg, xxlg, xxxlg) !default;
