ul {
    list-style: none;
    width: 100%;
}

li {
    align-items: center;
    cursor: default;
    position: relative;
    display: flex;

    span {
        user-select: none;
    }

    .show-hover {
        visibility: hidden;
    }

    .pull-right {
        margin-left: auto;
    }

    &:hover {
        .show-hover {
            visibility: visible;
        }
    }
}
