<ul *ngIf="data && data.length" [(sortablejs)]="data" [sortablejsOptions]="sortableOptions">

    <li *ngFor="let item of data; let i = index">

        <nts-icon class="drag-handle show-hover"
            *ngIf="sortable"
            icon="drag"
        ></nts-icon>

        <ng-container *ngIf="!item.editing">
            <span
                (click)="onClick(item)"
                (dblclick)="onDoubleclick(item)"
                [class.selected]="isSelected(item)"
            >
                {{item.name || '(Untitled)'}}
            </span>
            <nts-button class="show-hover"
                *ngIf="deletable"
                icon="delete"
                (click)="onDelete(i, item, $event)"
            ></nts-button>
        </ng-container>

        <form *ngIf="item.editing === true" (submit)="onEdit(i, item)">
            <nts-input floating="true"
                [autofocus]="true"
                [(ntsModel)]="item.newname"
                [placeholder]="placeholder || ''"
                (ntsBlur)="item.editing = false"
            ></nts-input>
        </form>

    </li>
</ul>
