<ul *ngIf="data && data.length" [(sortablejs)]="data" [sortablejsOptions]="sortableOptions">

    <li *ngFor="let item of data; let i = index">

        <uni-icon class="drag-handle show-hover" *ngIf="sortable" icon="drag"></uni-icon>

        <ng-container *ngIf="!item.editing">
            <span (click)="onClick(item)" (dblclick)="onDoubleclick(item)" [class.selected]="isSelected(item)" [innerHtml]="item.name || '(Untitled)'"> </span>
            <uni-button class="show-hover" *ngIf="deletable" icon="delete" (click)="onDelete(i, item, $event)"></uni-button>
        </ng-container>

        <form *ngIf="item.editing === true" (submit)="onEdit(i, item)">
            <uni-input floating="true" [autofocus]="true" [(uniModel)]="item.newname" [placeholder]="placeholder || ''" (uniBlur)="item.editing = false"></uni-input>
        </form>

    </li>
</ul>
