.uni-list {

    &__inner {
        list-style: none;
        width: 100%;
    }

    &__content {
        user-select: none;
    }

    &__hover-icon {
        visibility: hidden;
    }

    &__item {
        align-items: center;
        cursor: default;
        position: relative;
        display: flex;

        // TODO: @alv @andres Me parece que esta clase ya no se utiliza
        .pull-right {
            margin-left: auto;
        }

        &:hover {

            .uni-list__hover-icon {
                visibility: visible;
            }
        }
    }
}
