uni-menu-item {
  padding: 0 $input-padding*2;
  height: $input-height;
  line-height: 1;
  color: black;

  .dropdown-item{
    padding-left: $input-padding*2;
    .icon{
      left: ($input-height - $font-regular) / 2;
      top: ($input-height - $font-regular) / 2;
    }
  }

  &:hover{
    background-color: $alpha-black-light;
  }
}
