.uni-layout {

    &.has-header,
    &[has-header] {

        .uni-layout__inner {
			height: calc(100% - #{$header-xs-height});

            @include mq(sm) {
                height: calc(100% - #{$header-height});
            }
        }
	}

    &.has-subheader,
    &[has-subheader] {

        .uni-layout__inner {
			height: calc(100% - #{$header-xs-height * 2});

            @include mq(sm) {
                height: calc(100% - #{$header-height * 2});
            }
        }
	}

    &.has-subheader-and-tabs {

        .uni-layout__inner {
			height: calc(100% - #{$header-xs-height * 3});

            @include mq(sm) {
                height: calc(100% - #{$header-height * 3});
            }
        }
    }
}
