.uni-chart {

    &__canvas {

        &--tiny {
            height: $chart-tiny;
        }

        &--small {
            height: $chart-small;
        }

        &--medium {
            height: $chart-medium;
        }

        &--large {
            height: $chart-large;
        }
    }
}
