@import '../../shared/styles/variables.scss';
@import '../../shared/styles/mixins.scss';

.main-title{
  font-size: $font-largest;
  padding-right: $basic-padding;
  margin-right: $basic-padding;
  cursor: pointer;
  @include border-right();
  &:hover{
    color: $brand-color;
  }
}
