.uni-chart-legend {

	&__item {
		align-items: center;
		display: flex;
	}

	&__color {
		display: inline-block;
	}

	&__container {
		display: flex;


		&--editable {

			.uni-chart-legend__item {
				cursor: default;
			}
		}
	}
}
