.legend-container {
  display: flex;

  .legend-item {
    align-items: center;
    display: flex;
  }

  .legend-color {
    display: inline-block;
  }

  &.editable {
    .legend-item {
      cursor: default;
    }
  }
}
