<div (clickOutside)="onClickOutside()">
  <nts-input
    iconRight="caret"
    [placeholder]="placeholder"
    [name]="name"
    [icon]="icon"
    [label]="label"
    [clear]="true"
    (keydown)="onKeyDown($event)"
    (ntsFocus)="onFocus($event)"
    (ntsBlur)="onBlur($event)"
    [(ntsModel)]="search"
    (ntsModelChange)="onFilter()">
  </nts-input>

  <ul class="options" *ngIf="areOptionsVisible">
    <li class="option" *ngFor="let option of options | filterOptions:search"
      [class.selected]="isOptionSelected(option)"
      (click)="onSelect(option)"
      (mousedown)="onSelectingOption(true)"
      (mouseup)="onSelectingOption(false)">

      <span [innerHtml]="(option.label | highlight:search) || '(Unlabeled)'"></span>
    </li>
  </ul>
</div>
