<label [ngClass]="{
  'with-prefix': prefix,
  'with-icon': icon,
  'with-icon-right': iconRight || clear,
  'with-two-icon-right': iconRight && clear
}">
  <div class="label" *ngIf="label || counter">
    <span *ngIf="label">{{label}}</span>
    <span *ngIf="counter">
      {{goModel? goModel.length : 0}} <span *ngIf="max>-1">/ {{max}}</span>
    </span>
  </div>
  <go-icon [icon]="icon" class="icon"></go-icon>
  <go-icon [icon]="iconRight" class="icon-right"></go-icon>

  <div class="input-container">
    <span class="prefix" *ngIf="prefix" [innerHtml]="prefix"></span>
    <input
      *ngIf="!multiline && !colorType"
      [ngClass]="{floating: floating}"
      [type]="type"
      [attr.maxlength]="max"
      [name]="name || 'inputName'"
      [placeholder]="placeholder"
      [value]="value"
      [autofocus]="autofocus"
      [required]="required"
      [ngModel]="goModel"
      (ngModelChange)="onNgModelChange($event)"
      (blur)="goBlur.emit($event)"
      (focus)="goFocus.emit($event)"
    />
    <go-button
      class="clear-btn"
      icon="close"
      *ngIf="!multiline && !colorType && clear && goModel && goModel.length"
      (click)="onNgModelChange(null)"
    > </go-button>

    <textarea
      *ngIf="multiline && !colorType"
      [ngClass]="{floating: floating}"
      [attr.maxlength]="max"
      [name]="name"
      [placeholder]="placeholder"
      [value]="value"
      [ngModel]="goModel"
      (ngModelChange)="onNgModelChange($event)"
      (blur)="goBlur.emit($event)"
      (focus)="goFocus.emit($event)">
    </textarea>

    <input 
     *ngIf="colorType && !multiline"     
    [colorPicker]="goModel"
    (colorPickerChange)="onNgModelChange($event)"    
    [value]="goModel"/>

    <!--[style.background]="goModel"--> 

  </div>
  <small *ngIf="hint" class="hint">{{hint}}</small>
  <small *ngIf="error" class="error">{{error}}</small>

</label>
