<form (ngSubmit)="doFilter()">
    <div class="uni-filters__container">
        <ng-container *ngIf="!advFilters">
            <ng-content *ngIf="!advFilters"></ng-content>
        </ng-container>
        <ng-container *ngIf="advFilters">
            <div>
                <ng-content select="uni-filters-main" *ngIf="advFilters"> </ng-content>
            </div>
            <div class="uni-filters__advanced" *ngIf="showAdvanced">
                <ng-content select="uni-filters-advanced" *ngIf="advFilters"> </ng-content>
            </div>
        </ng-container>
    </div>
    <div class="uni-filters__options" [ngClass]="{
        'uni-filters__options--three': optionsCount === 3,
        'uni-filters__options--two': optionsCount === 2,
        'uni-filters__options--one': optionsCount === 1
    }">
        <uni-button class="uni-filters__btn-apply" *ngIf="showButton" type="submit" [label]="buttonLabel" [color]="buttonColor" [icon]="buttonIcon"></uni-button>
        <uni-button class="uni-filters__btn-clear" *ngIf="clearable && !isDefault()" label="clear" icon="close" size="small" (click)="onClear()"></uni-button>
        <uni-button class="uni-filters__btn-save" *ngIf="savable && !isEmpty()" label="save" icon="add" size="small" (click)="onSave()"></uni-button>
    </div>
</form>
<uni-button *ngIf="advFilters && !showAdvanced" icon="keyboard_arrow_down" label="more filters" size="small" (click)="showAdvanced = true"></uni-button>
