<form (ngSubmit)="doFilter()">
    <div class="filters-container">
        <ng-container *ngIf="!advFilters">
            <ng-content *ngIf="!advFilters"></ng-content>
        </ng-container>
        <ng-container *ngIf="advFilters">
            <div>
                <ng-content select="uni-filters-main" *ngIf="advFilters"> </ng-content>
            </div>
            <div class="filters-advanced" *ngIf="showAdvanced">
                <ng-content select="uni-filters-advanced" *ngIf="advFilters"> </ng-content>
            </div>
        </ng-container>
    </div>
    <div class="options-container" [ngClass]="{
        'three-options': optionsCount === 3,
        'two-options': optionsCount === 2,
        'one-option': optionsCount === 1
    }">
        <uni-button class="apply"
            *ngIf="showButton" type="submit"
            [label]="buttonLabel"
            [color]="buttonColor"
            [icon]="buttonIcon"
        ></uni-button>
        <uni-button class="clear"
            *ngIf="clearable && !isDefault()"
            label="clear"
            icon="close"
            size="small"
            (click)="onClear()"
        ></uni-button>
        <uni-button class="save"
            *ngIf="savable && !isEmpty()"
            label="save"
            icon="plus"
            size="small"
            (click)="onSave()"
        ></uni-button>
    </div>
</form>
<uni-button *ngIf="advFilters && !showAdvanced"
    icon="arrow-down"
    label="more filters"
    size="small"
    (click)="showAdvanced = true"
></uni-button>
