.uni-menu-item {
    padding: 0 $input-padding*2;
    height: $input-height;
    line-height: 1;
    color: black;

    &__inner {
		padding-left: $input-padding*2;

    }

	&__icon {
		left: ($input-height - $font-xlarge) / 2;
		top: ($input-height - $font-xlarge) / 2;
	}

    &:hover {
        background-color: $alpha-black-light;
    }
}
