<button
  [disabled]="disabled || false"
  [type]="type || 'button'"
  [class]="color || ''"
  [ngClass]="{
    'with-icon': icon,
    'with-icon-right': iconRight,
    'only-icon': icon && (!label || !label.length),
    'btn-large': size === 'large',
    'btn-small': size === 'small'
  }">

  <uni-icon class="icon" *ngIf="icon" [icon]="icon" [size]="size || 'medium'"></uni-icon>

  {{label}}
  <span class="sublabel" *ngIf="sublabel">
    {{sublabel}}
  </span>

  <uni-icon class="iconRight" *ngIf="iconRight" [icon]="iconRight" [size]="size || 'medium'"></uni-icon>

</button>
