:host {
    position: relative;
    flex-shrink: 0;
}

.uni-button {

    &__inner {
        display: flex;
        align-items: center;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        outline: none;
    }
    &--large{
        display: block;

        .icon, .iconRight{
            position: absolute;
        }
        .sublabel{
            display: block;
        }
    }
}
