:host {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    flex-shrink: 0;
}

.uni-button {

    &__inner {
        display: flex;
        align-items: center;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        outline: none;

        &--large {
            display: block;

            .uni-button__icon, .uni-button__icon-right {
                position: absolute;
            }

            .uni-button__sublabel {
                display: block;
            }
        }
    }

}
