@mixin inverse-content {
    color: white;
    .sublabel{ color: white; }
    .icon{ opacity: 1; color: white; }
}
@mixin button-background($color, $inverse: false) {
    background-color: $color;
    &:hover{background-color: lighten($color, 5%);}
    &:focus{background-color: lighten($color, 5%);}
    &:active{background-color: lighten($color, 8%);}
    @if $inverse { @include inverse-content; }
}

nts-button {
    button {
        min-height: $input-xs-height;
        font-size: $font-regular;
        letter-spacing: 0.01em;
        line-height: 1;

        border: $border-width solid transparent;
        padding: 0 $input-padding;
        border-radius: $border-radius;

        background-color: transparent;
        color: $dark-grey;
        @include transition(background-color, $fast, ease);
        @include mq($from: sm) {
            min-height: $input-height;
            padding: 0 $input-padding * 2;
        }
        &.default{
            border: solid $border-width $light-alpha;
        }
        &.primary{ @include button-background($brand-color, true); }
        &.error{ @include button-background($error-color, true); }
        &.warning{ @include button-background($warning-color, true); }
        &.success{ @include button-background($success-color, true); }
        &.light{
            color: $black;
            @include button-background($medium-grey);
            .sublabel{color: $black}
        }
    }
    .only-icon{
        width: $input-height;
        padding: $input-padding / 4;
        border-radius:$input-height / 2;
    }
    .sublabel{
        opacity: 0.75;
    }
    .iconRight {
        margin-left: $input-padding / 2;
    }
    /* SIZES */
    .btn-small{
        font-size: $font-small;
        color: $dark-grey;
    }
    .btn-large{
        height: $input-height*2;
        padding: 0 $input-height 0 $input-height;
        text-align: left;

        &.with-icon{
            padding-left: $input-height*2 - $border-width*2;
        }
        &.with-icon-right{
            padding-right: $input-height*2 - $border-width*2;
        }
        .icon, .iconRight{
            top: $basic-padding/2 - $border-width;
        }
        .icon{
            left: $basic-padding/2 - $border-width;
        }
        .iconRight{
            right: $basic-padding/2 - $border-width;
        }
        .sublabel{
            margin-top: $basic-padding / 4;
        }
    }
/* HEADER BTNS */
    &.btn-header-md{
        height: 100%;
        button{
            border: 0;
            border-radius: 0;
            min-width: $header-md-height;
            min-height: $header-md-height;
            &.only-icon { width: $header-md-height;}
            &:hover{ background-color: $lightest-alpha }
            &:active{ background-color: $light-alpha }
            .icon{
                height: 20px;
                width: 20px;
                top: $header-height/4;
                left: $header-height/4;
            }
            span{
                padding-right: $header-md-height/4;
            }
        }
    }
    &.btn-header{
        height: 100%;
        button{
            border: 0;
            border-radius: 0;
            min-width: $header-xs-height;
            min-height: $header-xs-height;
            &.only-icon { width: $header-xs-height;}

            &:hover{ background-color: $lightest-alpha }
            &:active{ background-color: $light-alpha }
            .icon{
                position: absolute;
                height: 100%;
                width: 100%;
                opacity: 0.75;
                top: $header-xs-height/4;
                left: $header-xs-height/4;

                i {
                    font-size: $font-large;
                }
            }
            span{
                padding-right: $header-height/4;
            }

            @include mq($from: sm) {
                min-width: $header-height;
                min-height: $header-height;
                &.only-icon { width: $header-height;}


                .icon {
                    top: $header-height/3;
                    left: $header-height/3;
                }
            }
        }
    }
}
