@import '../../components/containers/popup/popup.skin.base';
@import '../../components/containers/popup/container/container.skin.base';
@import '../../components/containers/modal/modal.skin.base';
@import '../../components/containers/box/box.skin.base';
@import '../../components/containers/row/row.skin.base';
@import '../../components/containers/accordion/accordion.skin.base';
@import '../../components/containers/layout/layout.skin.base';
@import '../../components/containers/aside/aside.skin.base';
@import '../../components/containers/header/header.skin.base';
@import '../../components/containers/body/body.skin.base';
@import '../../components/containers/tabs/tabs.skin.base';

@import '../../components/ui/menu/menu.skin.base';
@import '../../components/ui/menu/container/container.skin.base';
@import '../../components/ui/menu/item/item.skin.base';
@import '../../components/ui/button/button.skin.base';
@import '../../components/ui/button-header/button-header.skin.base';
@import '../../components/ui/list/list.skin.base';
@import '../../components/ui/clock/clock.skin.base';
@import '../../components/ui/calendar/calendar.skin.base';
@import '../../components/ui/datagrid/datagrid.skin.base';
@import '../../components/ui/datagrid/row/row.skin.base';
@import '../../components/ui/datagrid/cell/cell.skin.base';
@import '../../components/ui/datagrid/header/header.skin.base';
@import '../../components/ui/filters/filters.skin.base';
@import '../../components/ui/paginator/paginator.skin.base';

@import '../../components/utils/face/face.skin.base';
@import '../../components/utils/chip/chip.skin.base';
@import '../../components/utils/progress/progress.skin.base';
@import '../../components/utils/badge/badge.skin.base';
@import '../../components/utils/separator/separator.skin.base';
@import '../../components/utils/icon/icon.skin.base';
@import '../../components/utils/toast/toast.skin.base';
@import '../../components/utils/tooltip/tooltip.skin.base';

@import '../../components/forms/input/input.skin.base';
@import '../../components/forms/checkbox/checkbox.skin.base';
@import '../../components/forms/radio/radio.skin.base';
@import '../../components/forms/select/select.skin.base';
@import '../../components/forms/date-picker/date-picker.skin.base';
@import '../../components/forms/time-picker/time-picker.skin.base';
@import '../../components/forms/datetime-picker/datetime-picker.skin.base';
@import '../../components/forms/image-picker/image-picker.skin.base';
@import '../../components/forms/daterange-picker/daterange-picker.skin.base';
@import '../../components/forms/code-editor/code-editor.skin.base';
@import '../../components/forms/toggle/toggle.skin.base';
@import '../../components/forms/button-toggle/button-toggle.skin.base';

@import '../../components/charts/chart-tooltip/chart-tooltip.skin.base';
@import '../../components/charts/chart/chart.skin.base';
@import '../../components/charts/chart-legend/chart-legend.skin.base';

@import '../../components/views/search-header/search.skin.base';

html, body {
  height: 100%;
  min-height: 100%;
}
html {
    box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, p, dl,
dt, dd, blockquote, address{
    margin: 0;
    padding: 0;
}

body {
    @include antialias;
    margin: 0;
    background: #fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
}

*, *::before, *::after {
    box-sizing: inherit;
}


// Links
a {
    color: inherit;
    color: $color-primary;
    text-decoration: none;
    transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s;

    @include on-event {
        color: $color-primary-light;
        outline: 0;
        text-decoration: none;
    }
}


/**
 * Basic styles for paragraphs
 */
p {
    font-style: normal;
    white-space: normal;

    &.mb {
        margin: 0 0 1em;
    }
}

ol, ul {
    &.nospacing {
      margin: 0;
      padding: 0;
    }
}


