@import '../../components/button/button.skin.base';
@import '../../components/input/input.skin.base';

@import '../../components/popup/popup.skin.base';
@import '../../components/popup/container/container.skin.base';

@import '../../components/dropdown/dropdown.skin.base';
@import '../../components/dropdown/container/container.skin.base';
@import '../../components/dropdown/item/item.skin.base';

@import '../../components/face/face.skin.base';
@import '../../components/box/box.skin.base';
@import '../../components/row/row.skin.base';
@import '../../components/accordion/accordion.skin.base';
@import '../../components/search-header/search.skin.base';
@import '../../components/layout/layout.skin.base';
@import '../../components/aside/aside.skin.base';
@import '../../components/separator/separator.skin.base';
@import '../../components/input/input.skin.base';
@import '../../components/checkbox/checkbox.skin.base';
@import '../../components/radio/radio.skin.base';
@import '../../components/select/select.skin.base';
@import '../../components/header/header.skin.base';
@import '../../components/body/body.skin.base';
@import '../../components/button/button.skin.base';
@import '../../components/icon/icon.skin.base';
@import '../../components/simple-list/simple-list.skin.base';
@import '../../components/datetime-picker/datetime-picker.skin.base';
@import '../../components/clock/clock.skin.base';
@import '../../components/calendar/calendar.skin.base';
@import '../../components/color-picker/color-picker.skin.base';
@import '../../components/image-picker/image-picker.skin.base';
@import '../../components/chip/chip.skin.base';
@import '../../components/progress/progress.skin.base';
@import '../../components/badge/badge.skin.base';
@import '../../components/paginator/paginator.skin.base';
@import '../../components/daterange-picker/daterange-picker.skin.base';
@import '../../components/tabs/tabs.skin.base';
@import '../../components/chart/chart.skin.base';
@import '../../components/chart-legend/chart-legend.skin.base';
@import '../../components/chart-tooltip/chart-tooltip.skin.base';
@import '../../components/code/code.skin.base';
@import '../../components/toggle/toggle.skin.base';

html, body {
  height: 100%;
  min-height: 100%;
}
html {
    box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, p, dl,
dt, dd, blockquote, address{
    margin: 0;
    padding: 0;
}

body {
    @include antialias;
    margin: 0;
    background: #fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
}

*, *::before, *::after {
    box-sizing: inherit;
}


// Links
a {
    color: inherit;
    color: $brand-color;
    text-decoration: none;
    transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s;

    @include on-event {
        color: $brand-color-light;
        outline: 0;
        text-decoration: none;
    }
}


/**
 * Basic styles for paragraphs
 */
p {
    font-style: normal;
    white-space: normal;

    &.mb {
        margin: 0 0 1em;
    }
}

ol, ul {
    &.nospacing {
      margin: 0;
      padding: 0;
    }
}


