:host {
    position: relative;
    display: flex;
}

.uni-image-picker {

	&__inner {
		cursor: pointer;
		align-items: center;
		display: flex;
		flex: 1;
		justify-content: center;
	}

	&__placeholder {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__preview {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__image {
		max-width: 100%;
		max-height: 100%;
		flex: 0;
	}

	&__delete-btn {
		position: absolute;
	}
}
