<label class="img-picker" droppable="true" (uniDragenter)="onDragEnter($event)" (dragover)="onDragOver($event)" (uniDragleave)="onDragLeave($event)"
    (drop)="onDrop($event)" [ngClass]="{dragging: dragging}">

    <div class="placeholder" *ngIf="!imageData">
        <uni-icon class="icon" icon="image" size="large"></uni-icon>
        <p class="label">
            Click or drop an image to upload <br> ({{width}} x {{height}})
        </p>
    </div>
    <div class="preview" *ngIf="imageData">
        <img class="image" [src]="imageData" alt="Image picker">
    </div>
    <input #inputFile type="file" accept="image/*" (change)="onImagePicked($event)" [style.display]="'none'">

</label>
<uni-button class="delete" *ngIf="imageData" icon="delete" (click)="clear()"></uni-button>