.uni-select {
    line-height: $input-height;

    &__options {
        background-color: white;
        max-height: $input-height * 8;
        overflow-y: auto;
        @include border($border-width);
    }

    &__option {
        font-size: $font-small;
        padding: $basic-padding/4;
        line-height: $input-height/2;
        min-height: $input-height;

        &-icon {
            margin-right: $basic-padding / 4;
            opacity: 0.25;
        }

        &--selected {
            background-color: $color-grey-medium;

            .uni-select__option-icon {
                opacity: 1;
            }
        }

        &--pointed {
            background-color: $color-grey-light;
        }
    }
}
