<div class="datetime-container" (clickOutside)="mode = popup? null: mode">
  <div class="datetime-inputs-container">
    <go-input
        type="date"
        icon="calendar"
        class="datetime-input clear-webkit-controls"
        *ngIf="dateShow"
        [class.spacing]="timeShow"
        [label]="dateLabel || (timeLabel ? ' ' : '')"
        [clear]="popup"
        [goModel]="dateModel"
        (goModelChange)="onDateChanges($event)"
        (goFocus)="mode = 'date'"
    > </go-input>
    <go-input
        type="time"
        icon="clock"
        class="datetime-input clear-webkit-controls"
        *ngIf="timeShow"
        [label]="timeLabel || (dateLabel ? ' ' : '')"
        [clear]="popup"
        [goModel]="timeModel"
        (goModelChange)="onTimeChanges($event)"
        (goFocus)="mode = 'time'"
    > </go-input>
  </div>
  <div class="datetime-controls-container" [class.floating]="popup">
    <go-calendar
      *ngIf="dateShow && mode === 'date'"
      [goModel]="dateModel"
      (goModelChange)="onDateChanges($event)">
    </go-calendar>
    <go-clock
      *ngIf="timeShow && mode === 'time'"
      [goModel]="timeModel"
      (goModelChange)="onTimeChanges($event)">
    </go-clock>
  </div>
  <div *ngIf="mode && !popup" class="datetime-buttons-container">
    <go-button
      class="btn-small"
      icon="up"
      label="close"
      (click)="mode = null">
    </go-button>
    <go-button
      *ngIf="dateModel || timeModel"
      class="btn-small"
      icon="close"
      label="clear"
      (click)="clear()">
    </go-button>
  </div>
</div>
