uni-input{
    display: flex;
    line-height: $input-height;

    input, textarea{
        height: $input-height;
        padding-left: $input-padding;
        padding-right: $input-padding;
        border-radius: $border-radius;
        @include border($border-width);
        &:focus{
            background-color: $alpha-black-light !important;
            border-color: $alpha-black-medium !important;
        }
    }
    textarea{
        padding: $input-padding;
        min-height: $input-height*2;
    }

    ::placeholder {
        color: $color-grey-dark;
        font-weight: 300;
    }

    .icon, .icon-right{
        opacity: 0.5;
    }
    .icon{
        left: ($input-height - $input-padding*2) / 2;
    }
    .icon-right{
        right: ($input-height - $input-padding*2) / 2;
    }

    .with-icon input{ padding-left: $input-height; }
    .with-icon-right input{ padding-right: $input-height; }
    .with-two-icon-right input{ padding-right: 40px; }
    .with-chips input{ border-radius: 0 $border-radius $border-radius 0; border-left-width: 0; }
    .with-prefix input{ border-radius: 0 $border-radius $border-radius 0; }
    .with-suffix input{ border-radius: $border-radius 0 0 $border-radius; }

    .label, .prefix, .suffix, .error, .hint{
        font-weight: 300;
        line-height: $label-height;
        font-size: $font-small;
        color: $color-grey-dark;
        margin: 0 $input-padding/4;
        height: $label-height;
    };

    .floating {
        &.focused, &.has-content{
            span {
                font-size: $font-small;
                top: 0;
                left: 0;
                line-height: $label-height;
                cursor: default;
            }
        }
        span {
            font-size: $font-regular;
            position: absolute;
            top: $label-height;
            left: $input-padding;
            line-height: $input-height;
            cursor: text;
            transition: 100ms ease all;
        }
        input, textarea{
            @include border(0);
            background-color: transparent;
        }
    }
    .prefix, .suffix, .chips {
        height: $input-height;
        margin:0;
        @include border($border-width);
    }
    .prefix, .suffix {
        padding: 0 $input-padding;
        background-color: $alpha-black-light;
    }
    .prefix, .chips{
        border-radius: $border-radius 0 0 $border-radius;
        border-right: 0 !important;
    }
    .suffix{
        border-radius: 0 $border-radius $border-radius 0;
        border-left: 0 !important;
    }
    .chips {
        padding: 0 $input-padding / 2;

        line-height: $font-regular;
        font-size: $font-small;
        .chip + .chip {
            margin-left: $basic-padding / 6;
        }
    }
    .with-prefix .chips {
        border-radius: 0;
    }
    .clear-btn{
        margin-left: - $input-height;
        height: $input-height;
        width: $input-height;
        line-height: 4;
        cursor: pointer;
    }

    .with-two-icon-right {
        .clear-btn{  margin-left: - 50px; }
    }

    .hint{
        color: $color-grey;
        font-style: italic;
    }
    .error{
        color: $color-error;
        font-weight: 400;
    }


    &.input-large{
        input{
            height: $input-height + $label-height;
        }
        input, textarea{
            font-size: $font-largest;
        }
    }
    &.input-text-large{
        input, textarea{
            font-size: $font-large;
        }
    }
    &.input-text-xlarge{
        input, textarea{
            font-size: $font-xlarge;
        }
    }
    &.input-primary{
        input{
            color: $color-primary;
            font-weight: bold;
        }
    }
}
