@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

nts-input{
  flex: 1;
  margin-left: ($header-md-height - $input-height) - $basic-padding;
}
nts-button{
  margin-right: - $basic-padding;
}
