.uni-accordion-item {

    &__container {
        @include border-bottom;
    }

    &__header {
        height: $header-md-height;
        @include border-bottom;
        padding: 0 $basic-padding / 4;
    }

    &__title {
        margin-left: $basic-padding / 6;
    }

    &__caret {
        @include transition(transform, $fast, ease);
    }

    &__content {
        /* @include v-grow-animation; */
    }

    &--collapsed {

        .uni-accordion-item__header {
            border-bottom-color: transparent;
        }

        .uni-accordion-item__caret {
            @include rotate(-90);
        }
    }
}

