.uni-paginator {

    &__container {
        justify-content: center;

        @include mq(sm) {
            justify-content: space-between;
        }
    }

    &__icon {
        padding: $basic-padding / 3;
        line-height: 1;
        cursor: pointer;
        opacity: 0.35;

        &:hover {
            opacity: 0.65;
        }

        &--disabled {
            opacity: 0.15;

            &:hover {
                opacity: 0.15;
                cursor: default;
            }
        }
	}

    &__counter {
        display: none;
        text-align: left;
        margin: 0;

        @include mq(sm) {
            display: inline-block;
        }
    }

    &__page {
        min-width: $input-height;
        height: $input-height;
        padding: $basic-padding / 3;
        border-radius: $input-height / 2;
        color: $color-grey-dark;
        opacity: 0.35;
        font-size: $font-small;

        &--selectable {

            &:hover {
                opacity: 0.65;
            }
		}

        &--selected {
            opacity: 1;
            font-weight: bold;
        }
    }
}
