nts-icon {
  
  i {
    font-size: $font-regular;
    opacity: 0.7;

    @include on-event {
      opacity: 1;
    }

    &.small {
      padding: $font-regular / 4;
      font-size: $font-regular / 2;
    }

    &.large {
      font-size: $font-regular;

      @include mq($from: sm) {
        font-size: $font-largest;
      }
    }

    &::before {
      font-family: "nts-icon";
      font-size: 1em;
      margin-right: .2em;
      line-height: 1em;
      margin-left: .2em;
    }

    &.caret {
      font-size: $font-large / 2;
      line-height: $label-height;
    }
    &.drag {
      cursor: move;
    }
  }
  &.paginator-icon {
    i {
      font-size: $font-small;
    }
  }
}

