$brand-color: #018fa3;
$brand-color-medium: #b8e0e6;
$brand-color-light: #e6f4f6;

$error-color: complement($brand-color);
$error-color-medium: lighten($error-color, 50%);
$error-color-light: lighten($error-color, 60%);

$warning-color: adjust-hue($brand-color, 200);
$warning-color-medium: lighten($warning-color, 35%);
$warning-color-light: lighten($warning-color, 55%);

$success-color: adjust-hue($brand-color, -90);
$success-color-medium: lighten($success-color, 40%);
$success-color-light: lighten($success-color, 60%);

$light-grey: #f2f2f2;
$medium-grey: #c2c2c2;
$dark-grey: #646464;
$black: #333;

$lightest-alpha: rgba(0,0,0,0.075);
$light-alpha: rgba(0,0,0,0.1);
$medium-alpha: rgba(0,0,0,0.25);
$dark-alpha: rgba(0,0,0,0.5);

$modal-bg: rgba(255, 255, 255, 0.75);

$border-width: 1px;
$border-radius: 2px;

$font-largest: 24px;
$font-large: 18px;
$font-regular: 13.3333px;
$font-small: 12px;
$font-smallest: 8px;

$basic-padding: 30px;

$header-height: 60px;
$header-md-height: 50px;

$aside-width: 300px;
$calendar-size: 251px;

$input-height: 35px;
$label-height: 20px;
$input-padding: 10px;

$slow: 500ms;
$fast: 200ms;
