.uni-aside {

    height: 100%;
    width: $aside-width;

    @include transition(all, 200ms, ease);

    &.has-header,
    &[has-header] {
        height: calc(100% - #{$header-height});
    }

    &.has-subheader,
    &[has-subheader] {
        height: calc(100% - #{$header-height * 2});
    }

    &--left,
    &[left] {
        @include border-right();

        &.collapsed {
            margin-left: - #{$aside-width};
        }
    }

    &--right,
    &[right] {
        @include border-left();

        &.collapsed {
            margin-right: - #{$aside-width};
        }
    }
}
