<div (mousedown)="onMouseDown()" (mouseup)="onMouseUp()" (clickOutside)="closeCombo()">
  <div class="daterange-input-container" *ngIf="combo" [class.filled]="uniModel?.to && uniModel?.from" [class.with-arrows]="showArrows">
    <uni-input icon="calendar" [uniModel]="comboModel" [placeholder]="comboLabel" (uniFocus)="openCombo()">
    </uni-input>
    <uni-button class="arrow-btn left" *ngIf="showArrows" icon="arrow-left" (click)="prevRange()"></uni-button>
    <uni-button class="arrow-btn right" *ngIf="showArrows" icon="arrow-right" (click)="nextRange()"></uni-button>
  </div>

  <div class="main-container" *ngIf="!combo || comboOpened" [class.floating]="combo" [class.align-left]="side === 'left'" [class.align-right]="side === 'right'">
    <div class="pickers-container">
      <uni-date-picker class="picker spacing" (uniModelChange)="onFromChanges($event)" [uniModel]="uniModel?.from" [label]="fromLabel || (toLabel ? ' ' : '')"
        [inline]="combo" [maxDate]="uniModel?.to || maxDate" [minDate]="minDate" [rangeTo]="uniModel?.to"> </uni-date-picker>
      <uni-date-picker class="picker" (uniModelChange)="onToChanges($event)" [uniModel]="uniModel?.to" [label]="toLabel || (fromLabel ? ' ' : '')"
        [inline]="combo" [maxDate]="maxDate" [minDate]="uniModel?.from || minDate" [rangeFrom]="uniModel?.from"> </uni-date-picker>
    </div>
    <div class="buttons-container" *ngIf="combo && comboOpened">
      <uni-row>
        <uni-button label="Today" (click)="loadPreset('today')"></uni-button>
        <uni-button label="This week" (click)="loadPreset('week')"></uni-button>
        <uni-button label="This month" (click)="loadPreset('month')"></uni-button>
        <uni-button label="This year" (click)="loadPreset('year')"></uni-button>
      </uni-row>
      <uni-row>
        <uni-button label="Yesterday" (click)="loadPreset('yesterday')"></uni-button>
        <uni-button label="Last week" (click)="loadPreset('l_week')"></uni-button>
        <uni-button label="Last month" (click)="loadPreset('l_month')"></uni-button>
        <uni-button label="Last year" (click)="loadPreset('l_year')"></uni-button>
      </uni-row>
    </div>
  </div>
</div>