<div
  (mousedown)="onMouseDown()"
  (mouseup)="onMouseUp()"
  (clickOutside)="closeCombo()"
>
  <div class="daterange-input-container"
    *ngIf="combo"
    [class.filled]="ntsModel?.to && ntsModel?.from"
    [class.with-arrows]="showArrows"
  >
    <uni-input
      icon="calendar"
      [ntsModel]="comboModel"
      [placeholder]="comboLabel"

      (ntsFocus)="openCombo()"
    >
    </uni-input>
    <uni-button class="arrow-btn left" *ngIf="showArrows" icon="arrow-left" (click)="prevRange()"></uni-button>
    <uni-button class="arrow-btn right" *ngIf="showArrows" icon="arrow-right" (click)="nextRange()"></uni-button>
  </div>

  <div class="main-container"
    *ngIf="!combo || comboOpened"
    [class.floating]="combo"
    [class.align-left]="side === 'left'"
    [class.align-right]="side === 'right'"
  >
    <div class="pickers-container">
      <uni-date-picker
        class="picker spacing"
        (ntsModelChange)="onFromChanges($event)"
        [ntsModel]="ntsModel?.from"
        [label]="fromLabel || (toLabel ? ' ' : '')"
        [inline]="combo"
        [maxDate]="ntsModel?.to || maxDate"
        [minDate]="minDate"
        [rangeTo]="ntsModel?.to"
      > </uni-date-picker>
      <uni-date-picker
        class="picker"
        (ntsModelChange)="onToChanges($event)"
        [ntsModel]="ntsModel?.to"
        [label]="toLabel || (fromLabel ? ' ' : '')"
        [inline]="combo"
        [maxDate]="maxDate"
        [minDate]="ntsModel?.from || minDate"
        [rangeFrom]="ntsModel?.from"
    > </uni-date-picker>
    </div>
    <div class="buttons-container" *ngIf="combo && comboOpened">
      <uni-row>
        <uni-button label="Today" (click)="loadPreset('today')"></uni-button>
        <uni-button label="This week" (click)="loadPreset('week')"></uni-button>
        <uni-button label="This month" (click)="loadPreset('month')"></uni-button>
        <uni-button label="This year" (click)="loadPreset('year')"></uni-button>
      </uni-row>
      <uni-row>
        <uni-button label="Yesterday" (click)="loadPreset('yesterday')"></uni-button>
        <uni-button label="Last week" (click)="loadPreset('l_week')"></uni-button>
        <uni-button label="Last month" (click)="loadPreset('l_month')"></uni-button>
        <uni-button label="Last year" (click)="loadPreset('l_year')"></uni-button>
      </uni-row>
    </div>
  </div>
</div>








