:host {
  position: relative;
  display: inline-block;
}
.pickers-container {
  display: flex;
}
.picker {
  flex: 1;
  position: relative;
}
.daterange-input-container {
  display: flex;
  align-items: flex-end;

  &.filled {
    .arrow-btn {
      display: block;
    }
  }
}
.arrow-btn {
  display: none;
  position: absolute;
}
.main-container {
  &.floating {
    z-index: 2;
    position: absolute;
  }
}
.buttons-container {
  nts-button {
    flex: 1
  }
}
