:host {
    position: relative;
    display: inline-block;
}

.uni-daterange-picker {

	&__arrow-btn {
		display: none;
		position: absolute;
	}

	&__input-container {
		display: flex;
		align-items: flex-end;

		&--filled {

			.uni-daterange-picker__arrow-btn {
				display: block;
			}
		}
	}

	&__date-pickers {
		display: flex;
	}

	&__date-picker {
		flex: 1;
		position: relative;
	}

	&__btn-preset {
		flex: 1;
	}

	&__panel {

		&--floating {
			z-index: 2;
			position: absolute;
		}
	}
}
