@import './../../styles/abstracts/index.scss';

@mixin header($height:$header-height, $padding:$basic-padding){
  @include border-bottom();
  @include flexbox();
  height: $height;
  padding: 0 $padding;
  align-items: center;
  transition: margin-top ease $slow;
  

  &.hidden{ margin-top:-$height; }
  &.grey{ background-color: $lightest-alpha; }
  &.red{
    background-color: $error-color-light;
    border-color: $error-color-medium !important;
    color: $error-color;
  }
}

:host.less-padding{
  header{
    padding: 0 $basic-padding/2;
  }
  
}



header{ @include header(); }
header.medium{ @include header($header-md-height); }
