:host {
    display: inline-block;
    vertical-align: top;
}
label{
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 0;
}
.input-container{
    display: flex;
}
.icon, .icon-right{
    position: absolute;
}
.label, .prefix, .suffix{
  display: flex;
  justify-content: space-between;
}
.prefix, .suffix, .chips{
  display: flex;
  align-items: center;
}
.chips {
    flex-shrink: 0;
}
input, textarea{
    width: 100%;
    text-overflow:ellipsis;
    &:focus{
        outline: none;
    }
}
textarea{
  resize: vertical;
}
input[type=date]{
    -webkit-appearance: none;
}
input[type=date]::-webkit-calendar-picker-indicator{
    -webkit-appearance: none;
    display: none;
}
::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}
::-webkit-clear-button{
    display: none; /* Hide the button */
    -webkit-appearance: none; /* turn off default browser styling */
}

