:host {
    vertical-align: top;
}

.uni-input {

	&__main-label {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		width: 100%;
		margin-bottom: 0;
	}

    &__container {
        display: flex;
	}

    &__icon,
    &__icon-right {
        position: absolute;
	}

    &__label,
    &__prefix,
    &__suffix {
        display: flex;
        justify-content: space-between;
	}

    &__prefix,
    &__suffix,
    &__chips {
        display: flex;
        align-items: center;
	}

    &__chips {
        flex-shrink: 0;
	}

    &__field {
        width: 100%;
        text-overflow: ellipsis;

        &--textarea {
            resize: vertical;
        }

        &:focus {
            outline: none;
        }
    }
}

input[type=date] {
    -webkit-appearance: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    display: none;
}

::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

::-webkit-clear-button {
    display: none;
    /* Hide the button */
    -webkit-appearance: none;
    /* turn off default browser styling */
}
