@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.popup-content {
  flex: 1;
  padding: $basic-padding / 2;

  &.padding { padding-right: $input-height; }
}
.close-button {
  position: absolute;
  right: 0;
  top: 0;
}
