@font-face {
    font-family: 'uni-icon';
    src: url('/assets/fonts/uni-icon.eot?13083918');
    src: url('/assets/fonts/uni-icon.eot?13083918#iefix') format('embedded-opentype'),
        url('/assets/fonts/uni-icon.woff2?13083918') format('woff2'),
        url('/assets/fonts/uni-icon.woff?13083918') format('woff'),
        url('/assets/fonts/uni-icon.ttf?13083918') format('truetype'),
        url('/assets/fonts/uni-icon.svg?13083918#uni-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}
