@font-face {
    font-family: 'uni-icon';
    src: url('/assets/fonts/uni-icon.eot?13083918');
    src: url('/assets/fonts/uni-icon.eot?13083918#iefix') format('embedded-opentype'),
        url('/assets/fonts/uni-icon.woff2?13083918') format('woff2'),
        url('/assets/fonts/uni-icon.woff?13083918') format('woff'),
        url('/assets/fonts/uni-icon.ttf?13083918') format('truetype'),
        url('/assets/fonts/uni-icon.svg?13083918#uni-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'material-icons';
  src:  url('/assets/fonts/material-icons.eot?1nehrh');
  src:  url('/assets/fonts/material-icons.eot?1nehrh#iefix') format('embedded-opentype'),
    url('/assets/fonts/material-icons.ttf?1nehrh') format('truetype'),
    url('/assets/fonts/material-icons.woff?1nehrh') format('woff'),
    url('/assets/fonts/material-icons.svg?1nehrh#material-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
