@import './../../styles/variables.scss';
@import './../../styles/mixins.scss';

:host{
  display: inline-block;
  height: $input-height;

  label{
    @include noselect();
    min-width: 100%;
    height: $input-height;
    line-height: 1;
    font-size: $font-regular;
    position: relative;
    display: block;
    cursor: pointer;

    display:flex;
    align-items: center;

    border: 0;
    padding: 0;
    padding-left: $input-height;
    padding-right: $input-height;
    border-radius: $border-radius;
    background-color: transparent;

    &.only-icon{ border-radius:$input-height/2; padding-right: 0;}

    &:hover{background-color: $lightest-alpha}
    &:focus{background-color: $light-alpha}
    &:active{background-color: $medium-alpha;}

    &:before{
      content: '';
      position: absolute;
      height: $input-height;
      width: $input-height;
      left: 0;
      bottom: 0;
      background-size: $input-padding*2;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0.25;
    }
    &:before{background-image: url('/assets/images/icons/square.svg');}
    &.partial:before{ background-image: url('/assets/images/icons/square-minus.svg'); opacity: 1; }
    &.checked:before{ background-image: url('/assets/images/icons/square-check.svg'); opacity: 1; }

    input{display: none;};
  }
}
