:host:hover {

	.uni-accordion-item__menu-trigger {
		visibility: visible;
	}
}

.uni-accordion-item {

    &__header {
        align-items: center;
        display: flex;
    }

    &__title {
        cursor: default;
        user-select: none;
    }

	&__menu {
		margin-left: auto;
	}

    &__menu-trigger {
        visibility: hidden;
    }
}
