uni-badge {

  .badge {
    background-color: $color-grey;
    border-radius: 50%;
    color: white;
    font-size: $font-smallest;
    height: $input-height / 2 - 4px;
    min-width: $input-height / 2 - 4px;

    @include mq($from: sm) {
      min-width: $input-height / 2;
      height: $input-height / 2;
      font-size: $font-small;
    }
    &.primary { background-color: $color-primary; }
    &.success { background-color: $color-success; }
    &.warning { background-color: $color-warning; }
    &.error { background-color: $color-error; }
  }

}
