:host {
    display: inline-block;
}

.uni-toggle {
    display: inline-block;

    &__inner {
		position: relative;
        display: flex;
        align-items: center;

        user-select: none;

	}

	&__input {
		display: none;
	}
}
