<label
    class="uni-toggle__inner"
    [class]="color ? 'uni-toggle__inner--' + color : ''"
    [class.uni-toggle__inner--checked]="model"
    [ngClass]="{'uni-toggle__inner--small': size === 'small'}">
    <div class="uni-toggle__container">
        <input class="uni-toggle__input" type="checkbox" [name]="name" [ngModel]="model" (ngModelChange)="toggleUniModel()">
        <div class="uni-toggle__slider" [class.uni-toggle__slider--round]="rounded"></div>
    </div>
    <span class="uni-toggle__label" *ngIf="label">{{label}}</span>
</label>
