<uni-header ntsSize="medium">
    <uni-input class="uni-search-header__input" icon="search" [value]="value" [placeholder]="placeholder" [model]="model" (modelChange)="onNgModelChange($event)"
        [debounce]="debounce" [floating]="true">
    </uni-input>
    <!-- TODO: @alv Revisar este componente, la clase .btn-header-md a cambiado a .uni-button-header--md y pertenece al componente uni-button-header... -->
    <uni-button class="uni-search-header__btn btn-header-md" icon="close" (click)="clear()" *ngIf="model"></uni-button>
</uni-header>
