:host {
    display: block;
    padding: 30px;
}

.uni-datagrid-delete {

    &__footer{
        display: flex;
        margin-top: 30px;
    }

    &__button-cancel{
        margin-left: auto;
        margin-right: 15px;
    }
}
