uni-tooltip {

    .tooltip-container {
        transition: all 200ms ease 0s;
        width: 225px;

        font-size: $font-regular;
        background: $color-grey-light;

        border: $border-width solid $color-grey-medium;
        padding: $basic-padding/2;
        border-radius: $border-radius;

        &:hover {
            opacity: 1;
        }
    }

}

