.body{
  padding: 30px;
  display: flex;

}
.footer{
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  .buttons{ display: flex; }
  .button-cancel{
    margin-right: 30px;
  }
}

