.uni-checkbox {
    display: inline-block;
    height: $input-height;

    &__icon {
        opacity: 0.25;
	}

    &__label {
        margin-left: $input-height / 2 - $input-padding
    }

    &__inner {
        min-width: 100%;
		height: $input-height;

        padding: 0;
        padding-left: $input-height / 2 - $input-padding;
        padding-right: $input-height / 2 - $input-padding;
        border: 0;

		font-size: $font-regular;
        line-height: 1;

        border-radius: $border-radius;
        background-color: transparent;

        &--only-icon {
            border-radius: $input-height/2;
        }

        &:not(.uni-checkbox__inner--only-icon) {

            &:hover {
                background-color: $alpha-black-light
            }

            &:focus {
                background-color: $alpha-black-medium
            }

            &:active {
                background-color: $alpha-black;
            }
        }

        &--checked,
        &--partial {

			.uni-checkbox__icon {
                opacity: 1;
            }
        }
    }
}
