<div class="acc-container">
  <div class="acc-header">
    <nts-button class="acc-caret" icon="caret" [ngClass]="{collapsed: collapsed}" (click)="collapsed = !collapsed">
    </nts-button>

    <span class="acc-title" (click)="collapsed = !collapsed">
      {{name}}
    </span>

    <div class="acc-options" *ngIf="!options">
      <ng-content select=".accordion-buttons"></ng-content>
    </div>

    <nts-menu class="acc-options" *ngIf="options">
      <nts-button class="acc-options-trigger" icon="more-v" ntsMenuTrigger></nts-button>
      <nts-menu-container>
        <ng-content select=".accordion-options"></ng-content>
      </nts-menu-container>
    </nts-menu>
  </div>
  <div class="acc-content" *ngIf="!collapsed">
    <ng-content select=".accordion-content"></ng-content>
  </div>
</div>