.acc-header {
  align-items: center;
  display: flex;
}

.acc-title {
  cursor: default;
  user-select: none;
}

.acc-menu-trigger { visibility: hidden; }
:host:hover {
  .acc-menu-trigger { visibility: visible; }
}
.acc-menu {
  margin-left: auto;
}

