.acc-header {
  align-items: center;
  display: flex;
}

.acc-title {
  cursor: default;
  user-select: none;
}

.acc-options-trigger { visibility: hidden; }
:host:hover {
  .acc-options-trigger { visibility: visible; }
}
.acc-options {
  margin-left: auto;
}

