@import './../../styles/abstracts/index.scss';

:host {
  display: flex;
}
.container {
  display: flex;
}
.input-container {
  flex: 1;
  position: relative;
}
.inputs-container { display: flex; }
.input { flex: 1; }
.spacing { margin-right: $basic-padding / 2;}
.calendar-container {
  position: absolute;
  z-index: 1;

  &:before {
    @include pseudo;
    top: -7px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid $medium-grey;
    border-top: 0;
  }

  &:after {
    @include pseudo;
    top: -5px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-top: 0;
  }

  &.align-right {
    right: 0;
    &:before { right: 6px; }
    &:after { right: 7px; }
  }
  &.align-left {
    left: 0;
    &:before { left: 6px; }
    &:after { left: 7px; }
  }
}
