<div
  (mousedown)="onMouseDown()"
  (mouseup)="onMouseUp()"
  (clickOutside)="closeCombo()"
>
  <div class="daterange-input-container"
    *ngIf="combo"
    [class.filled]="toModel && fromModel"
    [class.with-arrows]="showArrows"
  >
    <nts-input
      icon="calendar"
      [floating]="true"
      [ntsModel]="comboModel"
      [placeholder]="comboLabel"

      (ntsFocus)="openCombo()"
    >
    </nts-input>
    <nts-button class="arrow-btn left" *ngIf="showArrows" icon="arrow-left" (click)="prevRange()"></nts-button>
    <nts-button class="arrow-btn right" *ngIf="showArrows" icon="arrow-right" (click)="nextRange()"></nts-button>
  </div>

  <div class="main-container"
    *ngIf="!combo || comboOpened"
    [class.floating]="combo"
    [class.align-left]="side === 'left'"
    [class.align-right]="side === 'right'"
  >
    <div class="pickers-container">
      <nts-datetime-picker
        class="picker spacing"
        (dateChange)="onFromChanges($event)"
        [dateModel]="fromModel"
        [dateLabel]="fromLabel || (toLabel ? ' ' : '')"
        [timeShow]="false"
        [popup]="!combo"
        [keepOpen]="true"
        [maxDate]="toModel || maxDate"
        [minDate]="minDate"
        [rangeTo]="toModel"
      > </nts-datetime-picker>
      <nts-datetime-picker
        class="picker"
        (dateChange)="onToChanges($event)"
        [dateModel]="toModel"
        [dateLabel]="toLabel || (fromLabel ? ' ' : '')"
        [timeShow]="false"
        [popup]="!combo"
        [keepOpen]="true"
        [maxDate]="maxDate"
        [minDate]="fromModel || minDate"
        [rangeFrom]="fromModel"
    > </nts-datetime-picker>
    </div>
    <div class="buttons-container" *ngIf="combo && comboOpened">
      <nts-row>
        <nts-button label="Today" (click)="loadPreset('today')"></nts-button>
        <nts-button label="This week" (click)="loadPreset('week')"></nts-button>
        <nts-button label="This month" (click)="loadPreset('month')"></nts-button>
        <nts-button label="This year" (click)="loadPreset('year')"></nts-button>
      </nts-row>
      <nts-row>
        <nts-button label="Yesterday" (click)="loadPreset('yesterday')"></nts-button>
        <nts-button label="Last week" (click)="loadPreset('l_week')"></nts-button>
        <nts-button label="Last month" (click)="loadPreset('l_month')"></nts-button>
        <nts-button label="Last year" (click)="loadPreset('l_year')"></nts-button>
      </nts-row>
    </div>
  </div>
</div>








