.header-title {
  font-size: 18px;
  line-height: 2;
  padding-left: 15px;
}
.header-logo {
  height: 80%;
}

.content {
  padding: 30px;
}

.popup-test-btn {
  float: right;
}

nts-button {
  float: left;
}

nts-input,
nts-select,
nts-button {
  margin-right: 10px;
}
nts-datetime-picker,
nts-progress {
  margin-bottom: 10px;
}
nts-chip,
nts-badge,
nts-face {
  margin-right: 5px;
}

nts-icon {
  width: 14px;
  height: 14px;
}

.clear {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

.flex {
  display: flex;
}
