<nts-header>
  <img class="header-logo" src="logo.png" alt="">
  <h2 class="header-title">NTS Angular 2 Components - Showroom</h2>
</nts-header>
<nts-layout class="has-header">
  <!--
  <nts-aside class="aside-left content">
    Aside
  </nts-aside>
  -->
  <nts-body class="full-width">
    <div class="content">
      <h3>Buttons</h3>
      <nts-separator></nts-separator>
      <h5>Default buttons</h5>
      <div class="clear">
        <nts-button label="Blank button"></nts-button>
        <nts-button label="Default button" class="btn-default"></nts-button>
        <nts-button label="Light button" class="btn-light"></nts-button>
        <nts-button label="Primary button" class="btn-primary"></nts-button>
        <nts-button label="Error button" class="btn-error"></nts-button>
        <nts-button label="Success button" class="btn-success"></nts-button>
      </div>
      <h5>Just icon buttons</h5>
      <div class="clear">
        <nts-button icon="page"></nts-button>
        <nts-button icon="cloud2" class="btn-default"></nts-button>
        <nts-button icon="forw" class="btn-light"></nts-button>
        <nts-button icon="plus" class="btn-primary"></nts-button>
        <nts-button icon="close" class="btn-error"></nts-button>
        <nts-button icon="check" class="btn-success"></nts-button>
      </div>
      <h5>Icon and label buttons</h5>
      <div class="clear">
        <nts-button icon="page" label="Blank button"></nts-button>
        <nts-button icon="cloud2" label="Default button" class="btn-default"></nts-button>
        <nts-button icon="forw" label="Light button" class="btn-light"></nts-button>
        <nts-button icon="plus" label="Primary button" class="btn-primary"></nts-button>
        <nts-button icon="close" label="Error button" class="btn-error"></nts-button>
        <nts-button icon="check" label="Success button" class="btn-success"></nts-button>
      </div>
      <h5>Small buttons</h5>
      <div class="clear">
        <nts-button label="Blank button" size="small"></nts-button>
        <nts-button label="Default button" size="small" class="btn-default"></nts-button>
        <nts-button label="Light button" size="small" class="btn-light"></nts-button>
        <nts-button label="Primary button" size="small" class="btn-primary"></nts-button>
        <nts-button label="Error button" size="small" class="btn-error"></nts-button>
        <nts-button label="Success button" size="small" class="btn-success"></nts-button>
      </div>
      <h5>Big buttons</h5>
      <div class="clear">
        <nts-button icon="page" label="Blank button" sublabel="Sublabel" size="large"></nts-button>
        <nts-button icon="cloud2" label="Default button" sublabel="Sublabel" size="large" class="btn-default"></nts-button>
        <nts-button icon="forw" label="Light button" sublabel="Sublabel" size="large" class="btn-light"></nts-button>
        <nts-button icon="plus" label="Primary button" sublabel="Sublabel" size="large" class="btn-primary"></nts-button>
        <nts-button icon="close" label="Error button" sublabel="Sublabel" size="large" class="btn-error"></nts-button>
        <nts-button icon="check" label="Success button" sublabel="Sublabel" size="large" class="btn-success"></nts-button>
      </div>
      <h5>Dropdown buttons</h5>
      <div class="clear">
        <nts-button label="Blank button" dropdown="true">
          <div class="nts-dropdown-container">
            <nts-dropdown-item>Clear</nts-dropdown-item>
            <nts-dropdown-item icon="plus">Option</nts-dropdown-item>
            <nts-dropdown-item icon="close">Option</nts-dropdown-item>
            <nts-separator></nts-separator>
            <nts-dropdown-item icon="check">Option</nts-dropdown-item>
          </div>
        </nts-button>
        <nts-button label="Default button" class="btn-default" dropdown="true">
          <div class="nts-dropdown-container">
            <nts-dropdown-item>Clear</nts-dropdown-item>
            <nts-dropdown-item icon="plus">Option</nts-dropdown-item>
            <nts-dropdown-item icon="close">Option</nts-dropdown-item>
            <nts-separator></nts-separator>
            <nts-dropdown-item icon="check">Option</nts-dropdown-item>
          </div>
        </nts-button>
        <nts-button label="Light button" class="btn-light" dropdown="true">
          <div class="nts-dropdown-container">
            <nts-dropdown-item>Clear</nts-dropdown-item>
            <nts-dropdown-item icon="plus">Option</nts-dropdown-item>
            <nts-dropdown-item icon="close">Option</nts-dropdown-item>
            <nts-separator></nts-separator>
            <nts-dropdown-item icon="check">Option</nts-dropdown-item>
          </div>
        </nts-button>
        <nts-button label="Primary button" class="btn-primary" dropdown="true">
          <div class="nts-dropdown-container">
            <nts-dropdown-item>Clear</nts-dropdown-item>
            <nts-dropdown-item icon="plus">Option</nts-dropdown-item>
            <nts-dropdown-item icon="close">Option</nts-dropdown-item>
            <nts-separator></nts-separator>
            <nts-dropdown-item icon="check">Option</nts-dropdown-item>
          </div>
        </nts-button>
        <nts-button label="Error button" class="btn-error" dropdown="true">
          <div class="nts-dropdown-container">
            <nts-dropdown-item>Clear</nts-dropdown-item>
            <nts-dropdown-item icon="plus">Option</nts-dropdown-item>
            <nts-dropdown-item icon="close">Option</nts-dropdown-item>
            <nts-separator></nts-separator>
            <nts-dropdown-item icon="check">Option</nts-dropdown-item>
          </div>
        </nts-button>
        <nts-button label="Success button" class="btn-success" dropdown="true">
          <div class="nts-dropdown-container">
            <nts-dropdown-item>Clear</nts-dropdown-item>
            <nts-dropdown-item icon="plus">Option</nts-dropdown-item>
            <nts-dropdown-item icon="close">Option</nts-dropdown-item>
            <nts-separator></nts-separator>
            <nts-dropdown-item icon="check">Option</nts-dropdown-item>
          </div>
        </nts-button>
      </div>
      <h5>Popup buttons</h5>
      <div class="clear">
        <nts-button label="Blank button" popup="true" popupIcon="plus">
          <div class="nts-popup-container">
            This is a custom popup content
            <br>
            Ut tempor consectetur et aute adipisicing commodo.
          </div>
        </nts-button>
        <nts-button label="Default button" class="btn-default" popup="true" popupIcon="plus">
          <div class="nts-popup-container">
            This is a custom popup content
            <br>
            Ut tempor consectetur et aute adipisicing commodo.
          </div>
        </nts-button>
        <nts-button label="Light button" class="btn-light" popup="true" popupIcon="plus">
          <div class="nts-popup-container">
            This is a custom popup content
            <br>
            Ut tempor consectetur et aute adipisicing commodo.
          </div>
        </nts-button>
        <nts-button label="Primary button" class="btn-primary" popup="true" popupIcon="plus">
          <div class="nts-popup-container">
            This is a custom popup content
            <br>
            Ut tempor consectetur et aute adipisicing commodo.
          </div>
        </nts-button>
        <nts-button label="Error button" class="btn-error" popup="true" popupIcon="plus">
          <div class="nts-popup-container">
            This is a custom popup content
            <br>
            Ut tempor consectetur et aute adipisicing commodo.
          </div>
        </nts-button>
        <nts-button label="Success button" class="btn-success" popup="true" popupIcon="plus">
          <div class="nts-popup-container">
            This is a custom popup content
            <br>
            Ut tempor consectetur et aute adipisicing commodo.
          </div>
        </nts-button>
      </div>
      <h5>Popup big buttons</h5>
      <div class="clear">
        <nts-button icon="page" label="Blank button" sublabel="Sublabel" popup="true" size="large" popupIcon="plus">
          <div class="nts-popup-container">
            This is a custom popup content
            <br>
            Ut tempor consectetur et aute adipisicing commodo.
          </div>
        </nts-button>
        <nts-button icon="cloud2" label="Default button" sublabel="Sublabel" class="btn-default" popup="true" size="large" popupIcon="plus">
          <div class="nts-popup-container">
            This is a custom popup content
            <br>
            Ut tempor consectetur et aute adipisicing commodo.
          </div>
        </nts-button>
        <nts-button icon="forw" label="Light button" sublabel="Sublabel" class="btn-light" popup="true" size="large" popupIcon="plus">
          <div class="nts-popup-container">
            This is a custom popup content
            <br>
            Ut tempor consectetur et aute adipisicing commodo.
          </div>
        </nts-button>
        <nts-button icon="plus" label="Primary button" sublabel="Sublabel" class="btn-primary" popup="true" size="large" popupIcon="plus">
          <div class="nts-popup-container">
            This is a custom popup content
            <br>
            Ut tempor consectetur et aute adipisicing commodo.
          </div>
        </nts-button>
        <nts-button icon="close" label="Error button" sublabel="Sublabel" class="btn-error" popup="true" size="large" popupIcon="plus">
          <div class="nts-popup-container">
            This is a custom popup content
            <br>
            Ut tempor consectetur et aute adipisicing commodo.
          </div>
        </nts-button>
        <nts-button icon="check" label="Success button" sublabel="Sublabel" class="btn-success" popup="true" size="large" popupIcon="plus">
          <div class="nts-popup-container">
            This is a custom popup content
            <br>
            Ut tempor consectetur et aute adipisicing commodo.
          </div>
        </nts-button>
      </div>
    </div>
    <div class="content">
      <h3>Inputs</h3>
      <nts-separator></nts-separator>
      <h5>Datetime picker</h5>
      <div class="flex">
        <nts-datetime-picker> </nts-datetime-picker>
      </div>
      <div class="flex">
        <nts-datetime-picker dateLabel="Min and max date" timeLabel="Hour" minDate="2016-10-01" maxDate="2016-12-31"> </nts-datetime-picker>
      </div>
      <div class="flex">
        <nts-datetime-picker dateLabel="Floating calendar" [popup]="true"> </nts-datetime-picker>
      </div>
      <div class="flex">
        <nts-datetime-picker dateLabel="Only date" [popup]="true" [timeShow]="false"> </nts-datetime-picker>
      </div>
      <div class="flex">
        <nts-datetime-picker timeLabel="Only hour" [popup]="true" [dateShow]="false"> </nts-datetime-picker>
      </div>

      <h5>Select inputs </h5>

      <div class="flex">
        <nts-select label="Default select"
          [(ntsModel)]="selectModel"
          [options]="[
            {value: 1, label: 'Option 1'},
            {value: 2, label: 'Option 2'},
            {value: 3, label: 'Option 3'},
            {value: 4, label: 'Option 4'},
            {value: 5, label: 'Option 5'}
          ]">
        </nts-select>
        <nts-select label="Select with placeholder"
          placeholder="Select placeholder"
          [(ntsModel)]="selectModel"
          [options]="[
            {value: 1, label: 'Option 1'},
            {value: 2, label: 'Option 2'},
            {value: 3, label: 'Option 3'},
            {value: 4, label: 'Option 4'},
            {value: 5, label: 'Option 5'}
          ]">
        </nts-select>
        <nts-select label="Select with icon"
          icon="user"
          [(ntsModel)]="selectModel"
          [options]="[
            {value: 1, label: 'Option 1'},
            {value: 2, label: 'Option 2'},
            {value: 3, label: 'Option 3'},
            {value: 4, label: 'Option 4'},
            {value: 5, label: 'Option 5'}
          ]">
        </nts-select>
        <nts-select label="Select with multiple options"
          [(ntsModel)]="selectModel2"
          [multiple]="true"
          [options]="[
            {value: 1, label: 'Option 1'},
            {value: 2, label: 'Option 2'},
            {value: 3, label: 'Option 3'},
            {value: 4, label: 'Option 4'},
            {value: 5, label: 'Option 5'}
          ]">
        </nts-select>
      </div>
      <h5>Single-line inputs</h5>
      <div class="flex">
        <nts-input [(ntsModel)]="inputModel" label="Default input"></nts-input>
        <nts-input [(ntsModel)]="inputModel" label="Input with placeholder" placeholder="Input placeholder"></nts-input>
        <nts-input [(ntsModel)]="inputModel" label="Input with icon" placeholder="Input placeholder" icon="user"></nts-input>
        <nts-input [(ntsModel)]="inputModel" label="Input with hint" placeholder="Input placeholder" hint="i.e: user@domain.com"></nts-input>
        <nts-input [(ntsModel)]="inputModel" label="Input with error" placeholder="Input placeholder" error="Must be a valid email"></nts-input>
        <nts-input [(ntsModel)]="inputModel" label="Input with prefix" placeholder="Input placeholder" prefix="http://www."></nts-input>
      </div>
      <div class="flex">
        <nts-input [(ntsModel)]="inputModel" label="Input with counter" counter="true"></nts-input>
        <nts-input [(ntsModel)]="inputModel" label="Counter and max" max="10" counter="true"></nts-input>
        <nts-input [(ntsModel)]="inputModel" label="Input with right icon" placeholder="Input placeholder" iconRight="user"></nts-input>
      </div>
      <h5>Multi-line inputs</h5>
      <nts-input [(ntsModel)]="inputModel"
        placeholder="Here you can see all the available options of multiline input activated"
        label="Multiline input"
        multiline="true"
        counter="true"
        max="140"
        error="Something went wrong"
        hint="Write something above">
      </nts-input>

      <h5>Radio inputs</h5>
      <div class="flex">
        <nts-radio [(ntsModel)]="radioModel" value="0" label="Option 1"></nts-radio>
        <nts-radio [(ntsModel)]="radioModel" value="1" label="Option 2"></nts-radio>
      </div>

      <h5>Checkbox inputs</h5>
      <div class="flex">
        <nts-checkbox [(ntsModel)]="checkboxModel"></nts-checkbox>
        <nts-checkbox [(ntsModel)]="checkboxModel" [partial]="true"></nts-checkbox>
        <nts-checkbox [(ntsModel)]="checkboxModel" label="Checkbox with label"></nts-checkbox>
        <nts-checkbox [(ntsModel)]="checkboxModel" label="Checkbox with partial" [partial]="true"></nts-checkbox>
      </div>

      <h5>Color picker</h5>
      <div class="flex">
        <nts-input type="color" label="Color input" [(ntsModel)]="colorSelected"></nts-input>
        <nts-input type="color" label="Color input with swatch" [(ntsModel)]="colorSelected" [colorSwatch]="true"></nts-input>
      </div>
    </div>

    <div class="content">
      <h3>Other</h3>
      <nts-separator></nts-separator>
      <h5>Badges</h5>
      <div class="flex">
        <nts-badge value="1" class="primary"> </nts-badge>
        <nts-badge value="1" class="success"> </nts-badge>
        <nts-badge value="1" class="error"> </nts-badge>
        <nts-badge value="1" class="warning"> </nts-badge>
      </div>
      <h5>Chips</h5>
      <div class="flex">
        <nts-chip label="regular chip"> </nts-chip>
        <nts-chip label="removable chip" [removable]="true" (remove)="removed1 = true" *ngIf="!removed1"> </nts-chip>
        <nts-chip label="primary chip" class="primary" [removable]="true" (remove)="removed2 = true" *ngIf="!removed2"> </nts-chip>
        <nts-chip label="success chip" class="success" [removable]="true" (remove)="removed3 = true" *ngIf="!removed3"> </nts-chip>
        <nts-chip label="error chip" class="error" [removable]="true" (remove)="removed4 = true" *ngIf="!removed4"> </nts-chip>
        <nts-chip label="warning chip" class="warning" [removable]="true" (remove)="removed5 = true" *ngIf="!removed5"> </nts-chip>
      </div>
      <h5>Progress bar</h5>
      <nts-progress value="30"></nts-progress>
      <nts-progress class="primary" value="20"></nts-progress>
      <nts-progress class="success" value="40"></nts-progress>
      <nts-progress class="warning" value="70"></nts-progress>
      <nts-progress class="error" value="10" [showCount]="true"></nts-progress>
      <h5>Faces</h5>
      <div class="flex">
        <nts-face [user]="{name: 'Alvaro'}"> </nts-face>
        <nts-face [user]="{name: 'Alvaro', image: 'https://placekitten.com/g/200/200'}"> </nts-face>
        <nts-face [user]="{name: 'Alvaro', image: 'https://placekitten.com/g/200/200'}" badge="1"> </nts-face>
      </div>
      <h5>Toast</h5>
      <nts-button label="Open Toast" class="btn-primary" (click)="openToast()"></nts-button>

      <h5>Modal</h5>
      <nts-button label="Open Modal" class="btn-primary" (click)="openModal()"></nts-button>    

    </div>


  </nts-body>
</nts-layout>
