.header-title {
  font-size: 18px;
  line-height: 2;
  padding-left: 15px;
}
.header-logo {
  height: 80%;
}

.content {
  padding: 30px;
}

.popup-test-btn {
  float: right;
}

nts-button {
  float: left;
}

nts-input,
nts-select,
nts-button {
  margin-right: 10px;
}
nts-datetime-picker,
nts-progress {
  margin-bottom: 10px;
}
nts-chip,
nts-badge,
nts-face {
  margin-right: 5px;
}

nts-icon {
  width: 14px;
  height: 14px;
}

.icon-wrap {
  display: inline-block;
  width: 100px;
  margin: 0 2px 2px 0;
  padding: 4px;
  background-color: #fff;
  border: 1px solid transparent;
  text-align: center;
  line-height: 1;
  transition: transform 0.2s linear;

  span {
    display: block;
    font-size: 11px;
  }

  &:hover {
    border: 1px solid #e6e6e6;
    transform: scale(1.5);
  }
}

.clear {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

.flex {
  display: flex;
}
