/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300);

*{
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  background-repeat: no-repeat;
  outline: 0;
  margin: 0;
  padding: 0;
}
html, body{
  height: 100%;
}
.general-loading{
  text-align: center;
  margin-top: 15px;
}
