.items {
  display: flex;

  ul {
    list-style: none;
    width: 100%;
  }

  li .item {
    align-items: center;
    cursor: default;
    display: flex;

    span {
      user-select: none;
    }

    .delete {
      visibility: hidden;
    }

    .pull-right {
      margin-left: auto;
    }

    &.highlight-hover:hover {
      nts-icon, .delete {visibility: visible}
    }
  }
}
