<div (clickOutside)="onClickOutside()">
    <uni-input iconRight="arrow_drop_down" [placeholder]="placeholder" [name]="name" [icon]="icon" [label]="label" [clear]="clear"
        (uniFocus)="onFocus($event)" (uniBlur)="onBlur($event)" [(model)]="searchModel" [readonly]="!filterable" (modelChange)="onFilter($event)"
        [chips]="chips ? optionsSelected : null" (deleteChip)="onSelect(optionsSelected[$event])">
    </uni-input>

    <ul class="options nospacing" *ngIf="areOptionsVisible">
        <li *ngIf="multiple && !searchModel" class="option" (click)="onSelectAll()" (mousedown)="onSelectingOption(true)" (mouseup)="onSelectingOption(false)">
            Select all
        </li>
        <li *ngIf="multiple && !searchModel" class="option" (click)="onSelect(null)" (mousedown)="onSelectingOption(true)" (mouseup)="onSelectingOption(false)">
            Select none
        </li>

        <uni-separator *ngIf="multiple && !searchModel"></uni-separator>

        <li class="option" *ngFor="let option of optionsFiltered; let i = index;" [class.selected]="isOptionSelected(option)" [class.pointed]="isOptionPointed(i)"
            (click)="onSelect(option)" (mouseover)="onHoverOption(i)" (mousedown)="onSelectingOption(true)" (mouseup)="onSelectingOption(false)">

            <uni-icon *ngIf="multiple" class="icon" [icon]="isOptionSelected(option) ? 'square-check' : 'square'">
            </uni-icon>
            <span [innerHtml]="(option.label | highlight:searchModel) || '(Unlabeled)'"></span>
        </li>
    </ul>
</div>
