nts-select {

  .options{
    background-color: white;
    @include border($border-width);
  }
  .option{
    font-size: $font-small;
    padding: $basic-padding/4;

    &.selected {
      background-color: $color-grey-medium;

      .icon {
        opacity: 1;
      }
    }
    &.pointed {
      background-color: $color-grey-light;
    }

    .icon {
      margin-right: $basic-padding / 4;
      opacity: 0.25;
    }
  }
}
