<div (clickOutside)="onClickOutside()">
    <uni-input iconRight="arrow_drop_down" [autofocus]="autofocus" [placeholder]="placeholder" [name]="name" [icon]="icon || (!multiple ? (optionsSelected[0]?.icon || null) : null)" [label]="label" [clear]="clear"
        (uniFocus)="onFocus($event)" (uniBlur)="onBlur($event)" [(model)]="searchModel" [readonly]="!filterable" (modelChange)="onFilter($event)"
        [chips]="chips ? optionsSelected : null" (deleteChip)="onSelect(optionsSelected[$event])">
    </uni-input>

    <ul class="uni-select__options nospacing" *ngIf="areOptionsVisible">
        <li *ngIf="multiple && !searchModel" class="uni-select__option" (click)="onSelectAll()" (mousedown)="onSelectingOption(true)"
            (mouseup)="onSelectingOption(false)">
            Select all
        </li>
        <li *ngIf="multiple && !searchModel" class="uni-select__option" (click)="onSelect(null)" (mousedown)="onSelectingOption(true)"
            (mouseup)="onSelectingOption(false)">
            Select none
        </li>

        <uni-separator *ngIf="multiple && !searchModel"></uni-separator>

        <li class="uni-select__option" *ngFor="let option of optionsFiltered; let i = index;" (click)="onSelect(option)" (mouseover)="onHoverOption(i)"
            (mousedown)="onSelectingOption(true)" (mouseup)="onSelectingOption(false)" [ngClass]="{
            'uni-select__option--selected': isOptionSelected(option),
            'uni-select__option--pointed': isOptionPointed(i)
        }">

            <uni-icon *ngIf="multiple" class="uni-select__option-icon" [icon]="isOptionSelected(option) ? 'check_box' : 'check_box_outline_blank'">
            </uni-icon>
            <uni-icon *ngIf="option.icon" class="uni-select__option-icon" [icon]="option.icon"> </uni-icon>
            <span [innerHtml]="(option.label | highlight:(filterable ? searchModel : '')) || '(Unlabeled)'"></span>
        </li>
    </ul>
</div>
