@import './../../styles/variables';
@import './../../styles/mixins';

i {
  display: block;
  height: $input-padding * 2;
  position: relative;
  width: $input-padding * 2;

  &.large {
    height: $input-height - $border-width;
    width: $input-height - $border-width;
  }

  &.medium {
    height: $input-padding * 2;
    width: $input-padding * 2;
  }

  &::before {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  @mixin bgicon($b) { &::before {background-image: url('/assets/images/icons/#{$b}.svg');}}
  &.back      { @include bgicon('arrow-left'); }
  &.bars      { @include bgicon('bar-graph'); }
  &.book      { @include bgicon('book'); }
  &.box       { @include bgicon('box'); }
  &.calendar  { @include bgicon('calendar'); }
  &.caret     { @include bgicon('caret'); }
  &.check     { @include bgicon('check'); }
  &.clock     { @include bgicon('clock'); }
  &.clock-in  { @include bgicon('clock-in'); }
  &.clock-out { @include bgicon('clock-out'); }
  &.close     { @include bgicon('cross'); }
  &.cloud1    { @include bgicon('cloud1'); }
  &.cloud2    { @include bgicon('cloud2'); }
  &.cloud3    { @include bgicon('cloud3'); }
  &.cloud4    { @include bgicon('cloud4'); }
  &.code      { @include bgicon('code'); }
  &.copy      { @include bgicon('stack'); }
  &.delete    { @include bgicon('trash'); }
  &.desktop   { @include bgicon('desktop'); }
  &.drag      { @include bgicon('align-justify'); }
  &.down      { @include bgicon('arrow-down'); }
  &.download  { @include bgicon('download'); }
  &.edit      { @include bgicon('edit'); }
  &.eye       { @include bgicon('eye'); }
  &.error     { @include bgicon('circle-cross'); }
  &.file-add  { @include bgicon('file-add'); }
  &.forw      { @include bgicon('arrow-right'); }
  &.grid      { @include bgicon('grid'); }
  &.grid-2    { @include bgicon('grid-2'); }
  &.laptop    { @include bgicon('laptop'); }
  &.layout    { @include bgicon('layout'); }
  &.link      { @include bgicon('link'); }
  &.loading   { @include bgicon('loading'); }
  &.media     { @include bgicon('archive'); }
  &.menu      { @include bgicon('menu'); }
  &.minus     { @include bgicon('minus'); }
  &.mobile    { @include bgicon('mobile'); }
  &.more-v    { @include bgicon('more'); }
  &.more-h    { @include bgicon('ellipsis'); }
  &.page      { @include bgicon('paper'); }
  &.plus      { @include bgicon('plus'); }
  &.redo      { @include bgicon('redo'); }
  &.search    { @include bgicon('search'); }
  &.split     { @include bgicon('split'); }
  &.square    { @include bgicon('square'); }
  &.tablet    { @include bgicon('tablet'); }
  &.tabs      { @include bgicon('tabs'); }
  &.tag       { @include bgicon('tag'); }
  &.undo      { @include bgicon('undo'); }
  &.up        { @include bgicon('arrow-up'); }
}
