@import '../../../shared/styles/variables.scss';
@import '../../../shared/styles/mixins.scss';

.avatar-popup {
    display: block;
}

.avatar-image {
    @include border-radius(50%);
    @include border($border-width);
    height: $input-height;
    width: $input-height;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $light-grey;
    background-size: cover;
    background-repeat: no-repeat;

    &:hover{
        filter: brightness(90%);
    }
}
.avatar-big{
    height: $input-height * 2;
    width: $input-height * 2;
}
.avatar-icon{
    opacity: 0.25;
}
.avatar-container {
    width: $aside-width;
}
.avatar-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $basic-padding / 2;
}
.avatar-info {
    margin: 0 $basic-padding / 2;
    flex: 1;

    p { color: $dark-grey; }
}