<nts-popup [(opened)]="popupOpened" class="avatar-popup">
    <div class="avatar-image" [style.background-image]="'url('+user?.image+')'" ntsPopupTrigger>
        <nts-icon class="avatar-icon" icon="user" *ngIf="!user?.image"> </nts-icon>
    </div>
    <nts-popup-container class="avatar-container">
        <div class="avatar-row">
            <div class="avatar-image avatar-big" [style.background-image]="'url('+user?.image+')'" ntsPopupTrigger>
                <nts-icon class="avatar-icon" icon="user" size="large" *ngIf="!user?.image"> </nts-icon>
            </div>
            <div class="avatar-info">
                <h4>{{user.username}}</h4>
                <p>{{user.email}}</p>
            </div>
        </div>
        <div class="avatar-row">
            <nts-button label="Salir" name="btn-exit" icon="power" (click)="logout()"></nts-button>
            <nts-button label="Editar perfil" name="btn-exit" class="btn-primary" (click)="ntsUserProfile()"></nts-button>
        </div>

    </nts-popup-container>
</nts-popup>