:host {
	flex: 1;
    display: flex;
    justify-content: center;
    height: 100%;
	overflow-y: auto;

	&.uni-body--full-width > .uni-body__inner {
		max-width: 100%;
		width: 100%;
	}
}

.uni-body {

	&__inner {
		flex: 1;
	}
}
