.uni-datagrid-row {
    position: relative;

    display: flex;
    flex: 1;

    transition: 200ms ease background-color;

    &__cell {

        &-text {
            flex: 1;
        }

        &--show-hover {
            visibility: hidden;
        }
    }

    &:hover {

        .uni-datagrid-row__cell--show-hover {
            visibility: visible;
        }
    }

    &--box {
        flex: 0 1 auto; // Default options. initial value has no support on ie
    }

    &--highlight:hover {
        background-color: $alpha-black-lighter;
    }

    &--selected {
        background-color: $color-primary-light;

        &.uni-datagrid-row--highlight:hover {
            background-color: darken($color-primary-light, 2.5%);
        }

        &.uni-datagrid-row--deleting-selection {
            font-weight: 700;
            background-color: $color-error-light;
            color: $color-error;

            &.uni-datagrid-row--highlight:hover {
                background-color: darken($color-error-light, 2.5%);
            }

            .uni-datagrid-row__cell--select {
                color: $color-error;
            }
        }

        .uni-datagrid-row__cell--select {
            visibility: visible;
            color: $color-primary;
        }
    }

    &--any-selected {

        .uni-datagrid-row__cell--delete {
            visibility: hidden;
        }

        .uni-datagrid-row__cell--select {
            visibility: visible;
        }
    }

    &--deleting {
        font-weight: bold;
        background-color: $color-error-light;
        color: $color-error;
        align-items: center;


        &.uni-datagrid-row--highlight:hover {
            background-color: darken($color-error-light, 2.5%);
        }

        .uni-datagrid-row__cell--select {
            color: $color-error;
        }

        .uni-datagrid-row__cell--delete {
            visibility: hidden;
        }

        .uni-datagrid-row__cell--deleting {
            display: flex;
            align-items: center;

            .uni-button {
                margin-left: $basic-padding / 4;
            }
        }
    }
}
