.uni-radio {
	display: inline-block;
	height: $input-height;

	&__icon {
		opacity: 0.25;
	}

	&__label {
		margin-left: $input-height / 2 - $input-padding;
	}

    &__inner {
        height: $input-height;

        padding: 0;
        padding-left: $input-height / 2 - $input-padding;
        padding-right: $input-height / 2 - $input-padding;
		border: 0;

		font-size: $font-regular;

        border-radius: $border-radius;
        background-color: transparent;

        &--only-icon {
            border-radius: $input-height/2;
        }

        &:not(.uni-radio__inner--only-icon) {

            &:hover {
                background-color: $alpha-black-light
            }
            &:focus {
                background-color: $alpha-black-medium
            }
            &:active {
                background-color: $alpha-black;
            }
        }

        &--checked {

            .uni-radio__icon {
                opacity: 1;
            }
        }
    }
}
