<uni-row
    [class.selected]="datagrid.selected.length && datagrid.deletingSelection !== true"
    [class.deleting]="datagrid.selected.length && datagrid.deletingSelection === true"
    [class.all-selected]="datagrid.allSelected()"
>
    <uni-datagrid-cell *ngIf="datagrid.selectable" [width]="0" [highlight]="true">
        <uni-checkbox
            [partial]="datagrid.selected.length > 0"
            [uniModel]="datagrid.allSelected()"
            (uniModelChange)="datagrid.onSelectAll($event)"
        ></uni-checkbox>
    </uni-datagrid-cell>

    <ng-container *ngIf="!datagrid.selected.length">
        <uni-datagrid-cell
            *ngFor="let column of datagrid.columns"
            [ngClass]="{
                'sortable': column.isSortable(datagrid.sortable),
                'sort-asc': datagrid.sort?.field && datagrid.sort?.field === column?.field && datagrid.sort.dir === false,
                'sort-desc': datagrid.sort?.field && datagrid.sort?.field === column?.field && datagrid.sort.dir === true
            }"
            [width]="column.width || 1"
            [highlight]="column.isSortable(datagrid.sortable) ? true : false"
            (click)="datagrid.onSortBy(column)"
        >
            <span [innerHtml]="column.title"></span>
        </uni-datagrid-cell>
    </ng-container>
    <ng-container *ngIf="datagrid.selected.length && datagrid.deletingSelection !== true">
        <uni-datagrid-cell>
            <span>{{datagrid.selected.length}} item(s) selected</span>
        </uni-datagrid-cell>
    </ng-container>

    <ng-container *ngIf="datagrid.selected.length && datagrid.deletingSelection === true">
        <uni-datagrid-cell class="deleting">
            <span>Are you sure you want to delete {{datagrid.selected.length}} item(s)?</span>
            <uni-button label="Delete" color="error" (click)="datagrid.onDeleteSelection()"></uni-button>
            <uni-button label="Cancel" color="default" (click)="datagrid.deletingSelection = false"></uni-button>
        </uni-datagrid-cell>
    </ng-container>

    <uni-datagrid-cell
        class="delete-cell"
        width="0"
        *ngIf="datagrid.deletable"
        [highlight]="true"
    >
        <uni-button icon="delete" (click)="onDeleteAttempt()"></uni-button>
    </uni-datagrid-cell>

</uni-row>

<uni-separator [class.selected]="datagrid.selected.length"></uni-separator>
