<nts-row
    [class.selected]="datagrid.dataSelected.length"
    [class.all-selected]="datagrid.allSelected()"
>
    <nts-datagrid-cell *ngIf="datagrid.selectable" [width]="0" [highlight]="true">
        <nts-checkbox [ntsModel]="datagrid.allSelected()" (ntsModelChange)="datagrid.selectAll($event)"></nts-checkbox>
    </nts-datagrid-cell>

    <ng-container *ngIf="!datagrid.dataSelected.length">
        <nts-datagrid-cell
            *ngFor="let column of datagrid.columns"
            [ngClass]="{
                'sortable': column.isSortable(datagrid.sortable),
                'order-asc': order.field === column.field && order.dir === false,
                'order-desc': order.field === column.field && order.dir === true
            }"
            [width]="column.width || 1"
            [highlight]="column.isSortable(datagrid.sortable) ? true : false"
            [style.text-align]="column.formatOptions?.align || 'left'"
            (click)="orderChange.emit(column)"
        >
            <span [innerHtml]="column.title"></span>
        </nts-datagrid-cell>
    </ng-container>
    <ng-container *ngIf="datagrid.dataSelected.length">
        <nts-datagrid-cell>
            <span>{{datagrid.dataSelected.length}} item(s) selected</span>
        </nts-datagrid-cell>
    </ng-container>
</nts-row>
<nts-separator [class.selected]="datagrid.dataSelected.length"></nts-separator>
