:host {
    position: relative;
}

.uni-face {

	&__inner {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;

		background-size: cover;
		background-repeat: no-repeat;
	}

	&__badge {
		position: absolute;
	}
}
