<div class="uni-face__inner" [ngClass]="{
        'uni-face__inner--small' : size === 'small',
        'uni-face__inner--big' : size === 'big',
        'uni-face__inner--initial' : user && !user.image
    }" [style.background-image]="user?.image ? 'url('+user?.image+')' : ''">

    <p class="uni-face__letter" *ngIf="user && !user.image">{{user.name?.charAt(0) | uppercase}}</p>

    <uni-icon class="uni-face__icon" [icon]="icon" *ngIf="!user"></uni-icon>
</div>
<uni-badge class="uni-face__badge" [label]="badge" color="error"></uni-badge>
