<ng-container *ngIf="mainFilters">
    <p class="title3" *ngIf="mainTitle">{{mainTitle}}</p>
    <nts-list
        [selectable]="true"
        [data]="mainFilters"
        [itemSelected]="filterSelected"
        (itemSelectedChange)="onFilterSelected($event)"
    ></nts-list>
</ng-container>

<ng-container *ngIf="customFilters">
    <p class="title3" *ngIf="customTitle">{{customTitle}}</p>
    <nts-list
        [selectable]="true"
        [sortable]="true"
        [deletable]="true"
        [data]="customFilters"
        [itemSelected]="filterSelected"
        (itemSelectedChange)="onFilterSelected($event)"
    ></nts-list>
</ng-container>
