@import './../../styles/abstracts/index.scss';

:host {
  &.right {
    .container {
      .pages {
        @include mq($from: sm) {
          margin-left: auto;
        }
      }
    }
  }

  &.center {
    .container {
      text-align: center;
      padding: $basic-padding;
    }
  }

  .container {
    padding: $basic-padding;
    display: flex;
    justify-content: center;

    @include mq($from: sm) {
      justify-content: space-between;
    }
  }
  .pages {
    display: flex;
    align-items: center;
  }
  .page {
    display: flex;
    min-width: $input-height;
    height: $input-height;
    padding: $basic-padding / 3;
    align-items: center;
    justify-content: center;
    border-radius: $input-height / 2;

    &.selectable {
      cursor: default;
      &:hover { background-color: $lightest-alpha }
    }
    &.selected { color: $brand-color; font-weight: bold; }
  }

  .counter {
    display: none;
    text-align: left;

    @include mq($from: sm) {
      display: inline-block;
    }
  }
}
