<div class="container">

  <p class="counter">
    Showing <b>{{selected * pageSize + 1}} to {{min(totalElements, (selected + 1) * pageSize)}}</b> of {{totalElements}} entries
  </p>

  <div class="pages">
    <nts-button icon="back" (click)="prevPage()"></nts-button>
    <span class="page"
      *ngFor="let page of pages"
      [class.selectable]="page !== selected && page !== null"
      [class.selected]="page === selected"
      (click)="selectPage(page)"
    >
      {{page === null ? '...' : page+1}}
    </span>
    <nts-button icon="forw" (click)="nextPage()"></nts-button>
  </div>
</div>
