.uni-paginator {

    &__container {
        display: flex;
        align-items: center;
    }

    &__pages {
        display: flex;
        align-items: center;
    }

    &__page {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        user-select: none;
    }
}