<div class="container">

  <p class="counter">
    Showing <b>{{selected * pageSize + 1}} to {{min(totalElements, (selected + 1) * pageSize)}}</b> of {{totalElements}} entries
  </p>

  <div class="pages">
    <nts-icon class="paginator-icon" icon="arrow-left" (click)="prevPage()" [class.disabled]="page === 0"></nts-icon>
    <span class="page"
      *ngFor="let page of pages"
      [class.selectable]="page !== selected && page !== null"
      [class.selected]="page === selected"
      [class.selected]="page === selected"
      (click)="selectPage(page)"
    >
      {{page === null ? '...' : page+1}}
    </span>
    <nts-icon class="paginator-icon" icon="arrow-right" (click)="nextPage()" [class.disabled]="page === pagesCount - 1"></nts-icon>
  </div>
</div>
