.container {
    display: flex;
    align-items: center;
}
.pages {
    display: flex;
    align-items: center;
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

.paginator-icon {
    cursor: pointer;
}
