:host {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pages {
    display: flex;
    align-items: center;
  }

  .page {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

  }

  .counter {
    display: none;
    text-align: left;
  }
}
