@mixin halfBg($side, $color: $color-primary-light) {
  &::before {
    @include pseudo;
    background-color: $color;
    z-index: 0;
    height: 100%;
    width: 50%;
    @if $side == left { left: 0; } @else { right: 0; }
  }
}

uni-calendar {
  .calendar-container {
    width: $calendar-size;
    height: $calendar-size;
    background-color: #fff;
    font-size: 12px;
    padding: $basic-padding/3;

    @include no-touch();

    &.rangeFromActive .day-container {
      &.selected { @include halfBg(left) }
      &.rangeFrom { @include halfBg(right) }
    }
    &.rangeToActive .day-container {
      &.selected { @include halfBg(right) }
      &.rangeTo { @include halfBg(left) }
    }
  }
  .month-name {
    p{ font-weight: bold; }
  }
  .days-name {
    p{
      color: $color-primary;
      font-weight: bold;
      font-size: $font-small - 1px;
      text-transform: uppercase;
    }
  }
  .day-container {
    &:hover { .day{ background-color: $alpha-black-light; } }
    &.today { .day { border: 1px $color-primary solid;} }
    &.rangeFrom { .day {background-color: $color-primary-medium;} }
    &.rangeTo { .day {background-color: $color-primary-medium;} }
    &.rangeMiddle { background-color: $color-primary-light }
    &.selected { .day { background-color: $color-primary; color: white; } }
    &.different-month { visibility: hidden}
    &.unavailable { opacity: 0.25; }
  }

  .day {
    @include border-radius($label-height / 5);
    width: 30px;
    height: 30px;
  }
  &.floating {
    .calendar-container { border: 0; }
  }
}


