.calendar-container {
  display: flex;
  flex-direction: column;
}
.month-name, .days-name, .week-row {
  display: flex;
  align-items: center;
  p{
    flex:1;
    text-align: center;
    margin: 0;
  }
}
.week-row {
  flex:1;
  p{
    display: flex;
    justify-content: center;
  }
}
.day-container {
  position: relative;
}

.day {
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
