:host {
    display: inline-block;
    position: relative;
}

.uni-menu {

	&__container {
		position: absolute;
		z-index: 1;

		top: 0;
		right: 0;

		&--top-right {
			top: auto;
			left: 0;
			bottom: 0;
			right: auto;
		}

		&--top-left {
			top: auto;
			left: auto;
			bottom: 0;
			right: 0;
		}

		&--bottom-right {
			top: 0;
			left: 0;
			bottom: auto;
			right: auto;
		}

		&--bottom-left {
			top: 0;
			left: auto;
			bottom: auto;
			right: 0;
		}
	}
}
