@import './../../styles/abstracts/index.scss';

$modal-animation-time: 200ms;

.modal-bg{
  position: fixed;
  background-color: $modal-bg;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
  padding: 20% 0;

  @keyframes bg-enter {
      from {opacity: 0;}
      to {opacity: 1;}
  }
  animation: bg-enter $modal-animation-time;

  @include xs { padding-top: 100px;}

  &.leaving{
    @keyframes bg-leave {
      from {opacity: 1;}
      to {opacity: 0;}
    }
    opacity: 0;
    animation: bg-leave $modal-animation-time;
  }

  .modal-container{
    border: $border-width $medium-grey solid;
    background-color: #fff;
    width: 80%;
    max-width: 800px;

    .close-button{
      opacity: 0.7;
      margin-left: auto;
      margin-right: - $basic-padding/2;

      @include on-event {
        opacity: 1;
      }
    }
  }

  &.full{
    background-color: $modal-bg-full;
    .modal-container{
      border: 0;
      background-color: transparent;
    }
    .close-button{

    }
  }

  &.aside {
    padding: 0;
    justify-content: flex-end;
    overflow-x: hidden;


    .modal-container{
      @keyframes aside-enter {
          from {transform: translateX(100%);}
          to {transform: translateX(0);}
      }
      animation: aside-enter $modal-animation-time;
      height: 100%;
      width: $aside-width;

      &.leaving{
        @keyframes aside-leave {
          from {transform: translateX(0);}
          to {transform: translateX(100%);}
        }
        transform: translateX(100%);
        animation: aside-leave $modal-animation-time;
      }
    }
    .close-button{

    }
  }
}
