@import './../../styles/abstracts/index.scss';

.modal-bg{
  position: fixed;
  background-color: $modal-bg;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
  padding: 20% 0;

  @include xs { padding-top: 100px;}

  .modal-container{
    border: $border-width $medium-grey solid;
    background-color: #fff;
    width: 80%;
    max-width: 800px;

    .close-button{
      opacity: 0.7;
      margin-left: auto;
      margin-right: - $basic-padding/2;

      @include on-event {
        opacity: 1;
      }
    }
  }

  &.full{
    background-color: $modal-bg-full;
    .modal-container{
      border: 0;
      background-color: transparent;
    }
    .close-button{

    }
  }

  &.aside {
    padding: 0;
    justify-content: flex-end;

    .modal-container{
      height: 100%;
      width: 30%;
    }
    .close-button{

    }
  }
}
